openapi: 3.2.0
info:
  title: Clear Street Trading Instrument Data API
  description: 'A unified, secure, and high-performance RESTful API for all client interactions with the Active trading platform.

    This specification provides a single source of truth for the API surface, covering order management, trade execution, market data, and account services.


    ### Authentication

    All endpoints require authentication via a JWT Bearer token provided in the `Authorization` header.


    ### Response Structure

    All responses, both for success and error, adhere to a standard envelope structure:

    - `data`: Contains the response payload on success, or `null` on error.

    - `error`: Contains a structured error object on failure, or `null` on success.

    - `metadata`: Contains the `request_id` and pagination information.


    ### WebSockets

    Real-time market data is available via WebSocket connections, which are not formally described in this OpenAPI specification. The following operations are available:

    - `market-data-l1-subscribe`: To start receiving L1 market data updates for a set of symbols.

    - `market-data-l1-unsubscribe`: To stop receiving L1 market data updates.'
  contact:
    name: Clear Street API Support
    url: https://clearstreet.io/contact
    email: concierge@clearstreet.com
  license:
    name: Proprietary
    url: https://clearstreet.io/terms
  version: 2025-10-31
servers:
- url: https://api.clearstreet.com
  description: Clear Street API
- url: https://api-dev.clearstreet.com
  description: Clear Street Development API
- url: http://localhost:5001
  description: Clear Street Local API
security:
- BearerAuth: []
tags:
- name: Instrument Data
  description: Retrieve instrument analytics, market data, news, and related reference data.
paths:
  /v1/instruments/events:
    get:
      tags:
      - Instrument Data
      summary: Get All Instrument Events
      description: "List instrument events across all securities, grouped by date.\n\nDate range defaults (anchored on the current trading day, or the next trading day\nif today is a weekend or US market holiday):\n- Unfiltered (no `instrument_ids`): a single trading day\n  (`from_date` = `to_date` = anchor); the requested span is capped at 6 days.\n- Filtered (with `instrument_ids`): a 30-day lookback ending on the anchor\n  (`from_date` = anchor − 30 days, `to_date` = anchor)."
      operationId: get_all_instrument_events
      parameters:
      - name: event_types
        in: query
        description: 'Filter by event type(s). Comma-delimited list. Example: `event_types=EARNINGS,IPO`.'
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AllEventsEventType'
        style: form
        explode: false
      - name: instrument_ids
        in: query
        description: 'Filter by instrument. Comma-separated instrument IDs (UUID) or symbols (equity tickers or OSI option symbols). Example: `instrument_ids=550e8400-e29b-41d4-a716-446655440000,AAPL`.'
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentIdOrSymbol'
        style: form
        explode: false
      - name: from_date
        in: query
        description: The start date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-04-24
      - name: to_date
        in: query
        description: The end date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-07-24
      responses:
        '200':
          description: Instrument events grouped by date
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/InstrumentAllEventsData'
                type: object
              examples:
                InstrumentEventsByDate:
                  summary: Dividend events grouped by date
                  value:
                    data:
                      event_dates:
                      - date: 2026-04-23
                        events:
                        - dividend_event_data:
                            adjusted_dividend_amount: '0.5236'
                            declaration_date: 2026-04-22
                            dividend_amount: '0.5236'
                            dividend_yield: '43.82881469863321'
                            ex_date: 2026-04-23
                            frequency: Weekly
                            payment_date: 2026-04-24
                            record_date: 2026-04-23
                          instrument_id: 2281b543-7136-4008-aa0a-a402bf9d9f90
                          name: YieldMax ABNB Option Income Strategy ETF
                          reporting_currency: USD
                          symbol: ABNY
                          type: DIVIDEND
                        - dividend_event_data:
                            adjusted_dividend_amount: '0.1432'
                            declaration_date: 2026-04-22
                            dividend_amount: '0.1432'
                            dividend_yield: '181.7918287937743'
                            ex_date: 2026-04-23
                            frequency: Weekly
                            payment_date: 2026-04-24
                            record_date: 2026-04-23
                          instrument_id: 4b33fa52-8ab6-43f5-a8df-042e0c63d20e
                          name: YieldMax AI Option Income Strategy ETF
                          reporting_currency: USD
                          symbol: AIYY
                          type: DIVIDEND
                    metadata:
                      request_id: 5efbf08a-9067-4491-9f29-cf0b233507ef
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                MalformedQueryString:
                  summary: Invalid query string payload
                  value:
                    error:
                      code: 400
                      message: 'Failed to deserialize query string. Error: premature end of input'
                    metadata:
                      request_id: e0a9bd3a-8510-41a7-8144-c51a27787b9c
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/instruments/{instrument_id}/analyst-reporting:
    get:
      tags:
      - Instrument Data
      summary: Get Instrument Analyst Consensus
      description: Retrieves analyst ratings and price targets for an instrument.
      operationId: get_instrument_analyst_consensus
      parameters:
      - name: instrument_id
        in: path
        description: Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
        required: true
        schema:
          type: string
          description: 'Instrument identifier: either an instrument UUID or a symbol (symbol for equities, OSI for options). Non-UUID inputs are resolved server-side.'
          minLength: 1
      - name: from
        in: query
        description: The start date for the query range, inclusive (YYYY-MM-DD)
        required: false
        schema:
          type: string
          format: date
        example: 2025-04-24
      - name: to
        in: query
        description: The end date for the query range, inclusive (YYYY-MM-DD)
        required: false
        schema:
          type: string
          format: date
        example: 2025-07-24
      responses:
        '200':
          description: Analyst consensus data
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/InstrumentAnalystConsensus'
                type: object
              examples:
                AnalystRatings:
                  summary: Analyst consensus with price targets and ratings
                  value:
                    data:
                      date: 2025-10-01
                      distribution:
                        buy: 20
                        hold: 3
                        sell: 1
                        strong_buy: 18
                        strong_sell: 0
                      price_target:
                        average: '240.00'
                        currency: USD
                        high: '275.00'
                        low: '190.00'
                      rating: BUY
                    error: null
                    metadata:
                      request_id: 9e0f1a2b-3c4d-5e6f-7890-1a2b3c4d5e6f
        '404':
          description: Instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                InstrumentNotFound:
                  summary: Instrument identifier does not exist
                  value:
                    error:
                      code: 404
                      message: 'Instrument not found: AAP'
                    metadata:
                      request_id: fa8cc9b2-fbf0-4f5b-8ce3-b3205b9f85f2
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/instruments/{instrument_id}/balance-sheets:
    get:
      tags:
      - Instrument Data
      summary: Get Instrument Balance Sheet Statements
      description: 'Get balance sheet statements for an instrument.


        Retrieves quarterly balance sheet statements for a specific instrument, sorted by fiscal period

        (most recent first).


        Date range defaults:

        - `from_date`: None (no lower bound)

        - `to_date`: None (no upper bound)'
      operationId: get_instrument_balance_sheet_statements
      parameters:
      - name: instrument_id
        in: path
        description: Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
        required: true
        schema:
          type: string
          description: 'Instrument identifier: either an instrument UUID or a symbol (symbol for equities, OSI for options). Non-UUID inputs are resolved server-side.'
          minLength: 1
      - name: page_size
        in: query
        description: The number of items to return per page. Only used when page_token is not provided.
        required: false
        schema:
          type: integer
          format: int64
          default: 1000
          maximum: 1000
          minimum: 1
      - name: page_token
        in: query
        description: Token for retrieving the next or previous page of results. Contains encoded pagination state; when provided, page_size is ignored.
        required: false
        schema:
          type: string
          format: byte
          description: Base64URL-encoded pagination token
        example: eyJvZmZzZXQiOjEwMCwibGltaXQiOjEwMH0=
      - name: from_date
        in: query
        description: The start date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-04-24
      - name: to_date
        in: query
        description: The end date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-07-24
      responses:
        '200':
          description: List of quarterly balance sheet statements
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/InstrumentBalanceSheetStatementList'
                type: object
              examples:
                BalanceSheetStatements:
                  summary: List of balance sheet statements, most recent first
                  value:
                    data:
                    - accepted_date: 2025-05-02 14:30:00+00:00
                      cash_and_cash_equivalents: '29943000000'
                      filing_date: 2025-05-01
                      net_debt: '76323000000'
                      period: Q1
                      period_type: QUARTERLY
                      reported_currency: USD
                      total_assets: '352583000000'
                      total_debt: '106266000000'
                      total_liabilities: '308258000000'
                      total_stockholders_equity: '56727000000'
                      year: 2025
                    error: null
                    metadata:
                      next_page_token: AAAAAAAAAGQAAAAAAAAAZQ==
                      page_number: 1
                      request_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      total_items: 20
                      total_pages: 2
        '404':
          description: Instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                InstrumentNotFound:
                  summary: Instrument identifier does not exist
                  value:
                    error:
                      code: 404
                      message: 'Instrument not found: AAP'
                    metadata:
                      request_id: fa8cc9b2-fbf0-4f5b-8ce3-b3205b9f85f2
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/instruments/{instrument_id}/cash-flow-statements:
    get:
      tags:
      - Instrument Data
      summary: Get Instrument Cash Flow Statements
      description: 'Get cash flow statements for an instrument.


        Retrieves historical cash flow statements for the specified instrument.

        Cash flow statements show cash inflows and outflows from operating, investing,

        and financing activities.


        '
      operationId: get_instrument_cash_flow_statements
      parameters:
      - name: instrument_id
        in: path
        description: Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
        required: true
        schema:
          type: string
          description: 'Instrument identifier: either an instrument UUID or a symbol (symbol for equities, OSI for options). Non-UUID inputs are resolved server-side.'
          minLength: 1
      - name: page_size
        in: query
        description: The number of items to return per page. Only used when page_token is not provided.
        required: false
        schema:
          type: integer
          format: int64
          default: 1000
          maximum: 1000
          minimum: 1
      - name: page_token
        in: query
        description: Token for retrieving the next or previous page of results. Contains encoded pagination state; when provided, page_size is ignored.
        required: false
        schema:
          type: string
          format: byte
          description: Base64URL-encoded pagination token
        example: eyJvZmZzZXQiOjEwMCwibGltaXQiOjEwMH0=
      - name: from_date
        in: query
        description: The start date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-04-24
      - name: to_date
        in: query
        description: The end date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-07-24
      responses:
        '200':
          description: Cash flow statements retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/InstrumentCashFlowStatementList'
                type: object
              examples:
                CashFlowStatements:
                  summary: Cash flow statements for a security
                  value:
                    data:
                    - accepted_date: 2025-05-02 14:30:00+00:00
                      capital_expenditure: '-2600000000'
                      cash_at_beginning_of_period: '33743000000'
                      cash_at_end_of_period: '29943000000'
                      change_in_working_capital: '-3200000000'
                      common_stock_repurchased: '-23000000000'
                      depreciation_and_amortization: '2900000000'
                      filing_date: 2025-05-01
                      free_cash_flow: '25800000000'
                      investments_in_property_plant_and_equipment: '-2600000000'
                      net_cash_provided_by_financing_activities: '-28300000000'
                      net_cash_provided_by_investing_activities: '-3900000000'
                      net_cash_provided_by_operating_activities: '28400000000'
                      net_change_in_cash: '-3800000000'
                      net_debt_issuance: '-1500000000'
                      net_dividends_paid: '-3800000000'
                      net_income: '22200000000'
                      operating_cash_flow: '28400000000'
                      period: Q1
                      period_type: QUARTERLY
                      purchases_of_investments: '-9500000000'
                      reported_currency: USD
                      sales_maturities_of_investments: '8200000000'
                      stock_based_compensation: '2500000000'
                      year: 2025
                    error: null
                    metadata:
                      next_page_token: AAAAAAAAAGQAAAAAAAAAZQ==
                      page_number: 1
                      request_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      total_items: 20
                      total_pages: 2
        '404':
          description: Instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                InstrumentNotFound:
                  summary: Instrument identifier does not exist
                  value:
                    error:
                      code: 404
                      message: 'Instrument not found: AAP'
                    metadata:
                      request_id: fa8cc9b2-fbf0-4f5b-8ce3-b3205b9f85f2
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/instruments/{instrument_id}/events:
    get:
      tags:
      - Instrument Data
      summary: Get Instrument Events
      description: 'Retrieves corporate events (dividends, splits, etc.) for an instrument, grouped by event type.


        Date range defaults:

        - `from_date`: today - 365 days

        - `to_date`: today + 60 days'
      operationId: get_instrument_events
      parameters:
      - name: instrument_id
        in: path
        description: Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
        required: true
        schema:
          type: string
          description: 'Instrument identifier: either an instrument UUID or a symbol (symbol for equities, OSI for options). Non-UUID inputs are resolved server-side.'
          minLength: 1
      - name: from_date
        in: query
        description: The start date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-04-24
      - name: to_date
        in: query
        description: The end date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-07-24
      responses:
        '200':
          description: Instrument events grouped by type
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/InstrumentEventsData'
                type: object
              examples:
                GroupedCorporateEvents:
                  summary: Earnings, dividends, and splits for AAPL
                  value:
                    data:
                      dividends:
                      - adjusted_dividend_amount: '0.25'
                        declaration_date: 2024-10-31
                        dividend_amount: '0.25'
                        dividend_yield: '0.44'
                        ex_date: 2024-11-08
                        frequency: Quarterly
                        payment_date: 2024-11-14
                        record_date: 2024-11-11
                      earnings:
                      - date: 2024-10-31
                        eps_actual: '1.64'
                        eps_estimate: '1.60'
                        eps_surprise_percent: '2.5'
                        revenue_actual: '94930000000'
                        revenue_estimate: '94500000000'
                        revenue_surprise_percent: '0.45'
                      instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
                      reporting_currency: USD
                      splits:
                      - date: 2020-08-31
                        denominator: '1'
                        numerator: '4'
                        split_type: stock-split
                    error: null
                    metadata:
                      request_id: 0f1a2b3c-4d5e-6789-8a7b-6c5d4e3f2a1b
        '404':
          description: Instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                InstrumentNotFound:
                  summary: Instrument identifier does not exist
                  value:
                    error:
                      code: 404
                      message: 'Instrument not found: AAP'
                    metadata:
                      request_id: fa8cc9b2-fbf0-4f5b-8ce3-b3205b9f85f2
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/instruments/{instrument_id}/fundamentals:
    get:
      tags:
      - Instrument Data
      summary: Get Instrument Fundamentals
      description: Retrieves supplemental fundamentals and company profile data for an instrument.
      operationId: get_instrument_fundamentals
      parameters:
      - name: instrument_id
        in: path
        description: Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
        required: true
        schema:
          type: string
          description: 'Instrument identifier: either an instrument UUID or a symbol (symbol for equities, OSI for options). Non-UUID inputs are resolved server-side.'
          minLength: 1
      responses:
        '200':
          description: Instrument fundamentals
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/InstrumentFundamentals'
                type: object
              examples:
                InstrumentFundamentals:
                  summary: Supplemental fundamentals for an instrument
                  value:
                    data:
                      average_volume: 76000000
                      beta: '1.20'
                      description: Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide.
                      dividend_yield: '0.005'
                      earnings_per_share: '5.61'
                      fifty_two_week_high: '230.00'
                      fifty_two_week_low: '165.00'
                      industry: Consumer Electronics
                      list_date: 1980-12-12
                      logo_url: https://example.com/logos/aapl.png
                      market_cap: '2800000000000'
                      previous_close: '210.87'
                      price_to_earnings: '30.5'
                      reporting_currency: USD
                      sector: Technology
                    error: null
                    metadata:
                      request_id: 5b6c7d8e-9f0a-1b2c-3d4e-5f6a7b8c9d0e
        '400':
          description: Fundamentals not applicable to this instrument type (e.g. an index)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Instrument or fundamentals not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/instruments/{instrument_id}/income-statements:
    get:
      tags:
      - Instrument Data
      summary: Get Instrument Income Statements
      description: 'Retrieves quarterly income statements for a specific instrument, sorted by fiscal period

        (most recent first).


        Date range defaults:

        - `from_date`: None (no lower bound)

        - `to_date`: None (no upper bound)'
      operationId: get_instrument_income_statements
      parameters:
      - name: instrument_id
        in: path
        description: Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
        required: true
        schema:
          type: string
          description: 'Instrument identifier: either an instrument UUID or a symbol (symbol for equities, OSI for options). Non-UUID inputs are resolved server-side.'
          minLength: 1
      - name: page_size
        in: query
        description: The number of items to return per page. Only used when page_token is not provided.
        required: false
        schema:
          type: integer
          format: int64
          default: 1000
          maximum: 1000
          minimum: 1
      - name: page_token
        in: query
        description: Token for retrieving the next or previous page of results. Contains encoded pagination state; when provided, page_size is ignored.
        required: false
        schema:
          type: string
          format: byte
          description: Base64URL-encoded pagination token
        example: eyJvZmZzZXQiOjEwMCwibGltaXQiOjEwMH0=
      - name: from_date
        in: query
        description: The start date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-04-24
      - name: to_date
        in: query
        description: The end date for the query range, inclusive (YYYY-MM-DD).
        required: false
        schema:
          type: string
        example: 2025-07-24
      responses:
        '200':
          description: List of quarterly income statements
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/InstrumentIncomeStatementList'
                type: object
              examples:
                IncomeStatements:
                  summary: List of income statements, most recent first
                  value:
                    data:
                    - accepted_date: 2025-05-02 14:30:00+00:00
                      cost_of_revenue: '52080000000'
                      eps: '1.40'
                      eps_diluted: '1.38'
                      filing_date: 2025-05-01
                      gross_profit: '42850000000'
                      net_income: '22200000000'
                      operating_income: '26550000000'
                      period: Q1
                      period_type: QUARTERLY
                      reported_currency: USD
                      revenue: '94930000000'
                      year: 2025
                    error: null
                    metadata:
                      next_page_token: AAAAAAAAAGQAAAAAAAAAZQ==
                      page_number: 1
                      request_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      total_items: 20
                      total_pages: 2
        '404':
          description: Instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                InstrumentNotFound:
                  summary: Instrument identifier does not exist
                  value:
                    error:
                      code: 404
                      message: 'Instrument not found: AAP'
                    metadata:
                      request_id: fa8cc9b2-fbf0-4f5b-8ce3-b3205b9f85f2
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/market-data/daily-summary:
    get:
      tags:
      - Instrument Data
      summary: Get Daily Aggregate Summaries
      description: 'Returns the most recent open, high, low, volume (OHLV) and current price

        for the requested instruments.


        Response contract: every request returns one row per **unique**

        `instrument_id`, in first-seen request order. Unresolvable IDs come back

        with `symbol = null` and every market-data field `null`; resolvable IDs

        with no available data come back with `symbol` populated but market-data

        fields `null`.'
      operationId: get_daily_summaries
      parameters:
      - name: instrument_ids
        in: query
        description: Comma-separated instrument identifiers (required, 1..=100)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Daily aggregate summaries
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/DailySummaryList'
                type: object
        '400':
          description: Missing, empty, or over-cap instrument_ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /v1/market-data/snapshot:
    get:
      tags:
      - Instrument Data
      summary: Get Snapshots
      description: Get market data snapshots for one or more securities.
      operationId: get_snapshots
      parameters:
      - name: instrument_ids
        in: query
        description: Comma-separated instrument IDs (UUID) or symbols (equity tickers or OSI option symbols).
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentIdOrSymbol'
        style: form
        explode: false
      responses:
        '200':
          description: Market data snapshots
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/MarketDataSnapshotList'
                type: object
              examples:
                Snapshots:
                  summary: Snapshot response with quote, trade, and session data
                  value:
                    data:
                    - cumulative_volume: 12345678
                      instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
                      last_quote:
                        ask: '210.14'
                        ask_size: 120
                        bid: '210.10'
                        bid_size: 100
                        midpoint: '210.12'
                      last_trade:
                        price: '210.12'
                        size: 150
                      name: Apple Inc.
                      session:
                        change: '1.82'
                        change_percent: '0.8737'
                        previous_close: '208.30'
                      symbol: AAPL
                    error: null
                    metadata:
                      request_id: 2d0c9159-8f5d-49ca-a861-0d8346fd11da
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                MissingRequiredQueryParams:
                  summary: Missing required id filters
                  value:
                    error:
                      code: 400
                      message: At least one instrument_id is required
                    metadata:
                      request_id: 3af8662e-2dd9-4c59-8d32-7c167377fb8f
        '404':
          description: Instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                InstrumentNotFoundById:
                  summary: Instrument does not exist for provided id
                  value:
                    error:
                      code: 404
                      message: Instrument not found for id `a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8`
                    metadata:
                      request_id: 95683d84-2863-43f0-8f0a-63537c3cef85
  /v1/news:
    get:
      tags:
      - Instrument Data
      summary: Get News
      description: 'Retrieves news items with optional filtering by security IDs, time range, publisher,

        type, and text query.'
      operationId: get_news
      parameters:
      - name: page_size
        in: query
        description: The number of items to return per page. Only used when page_token is not provided.
        required: false
        schema:
          type: integer
          format: int64
          default: 1000
          maximum: 1000
          minimum: 1
      - name: page_token
        in: query
        description: Token for retrieving the next or previous page of results. Contains encoded pagination state; when provided, page_size is ignored.
        required: false
        schema:
          type: string
          format: byte
          description: Base64URL-encoded pagination token
        example: eyJvZmZzZXQiOjEwMCwibGltaXQiOjEwMH0=
      - name: from
        in: query
        description: Inclusive start timestamp. Accepts `YYYY-MM-DD` or RFC3339 datetime.
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: Inclusive end timestamp. Accepts `YYYY-MM-DD` or RFC3339 datetime.
        required: false
        schema:
          type: string
      - name: include_publishers
        in: query
        description: Comma-separated list of publishers to include (mutually exclusive with exclude_publishers).
        required: false
        schema:
          type: string
      - name: exclude_publishers
        in: query
        description: Comma-separated list of publishers to exclude (mutually exclusive with include_publishers).
        required: false
        schema:
          type: string
      - name: news_type
        in: query
        description: Filter by news type.
        required: false
        schema:
          type: string
          description: News item classification.
          enum:
          - NEWS
          - PRESS_RELEASE
      - name: search_query
        in: query
        description: Free-text query matched against title/text and associated security IDs.
        required: false
        schema:
          type: string
      - name: instrument_ids
        in: query
        description: Comma-delimited instrument identifiers to filter by.
        required: false
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - name: sectors
        in: query
        description: Comma-separated sector values to filter by.
        required: false
        schema:
          type: array
          items:
            type: string
            description: Market sector classification.
            enum:
            - BASIC_MATERIALS
            - COMMUNICATION_SERVICES
            - CONSUMER_CYCLICAL
            - CONSUMER_DEFENSIVE
            - ENERGY
            - FINANCIAL_SERVICES
            - HEALTHCARE
            - INDUSTRIALS
            - REAL_ESTATE
            - TECHNOLOGY
            - UTILITIES
        style: form
        explode: false
      responses:
        '200':
          description: News items
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/NewsItemList'
                type: object
              examples:
                NewsList:
                  summary: Filtered list of news items
                  value:
                    data:
                    - instruments:
                      - instrument_id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                        name: Apple Inc.
                        symbol: AAPL
                      news_type: NEWS
                      published_at: 2025-10-31 14:30:00+00:00
                      publisher: Reuters
                      site: reuters.com
                      title: Apple announces new hardware lineup
                      url: https://example.com/news/1
                    error: null
                    metadata:
                      next_page_token: cGFnZT0yJmxhc3Rfc3ltYm9sPVRTM0E
                      page_number: 1
                      request_id: 0f1a2b3c-4d5e-6f78-9012-3a4b5c6d7e8f
                      total_items: 25
                      total_pages: 3
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                InvalidDateQueryParam:
                  summary: Invalid date format in query parameters
                  value:
                    error:
                      code: 400
                      message: 'Failed to deserialize query string: from: invalid date or datetime ''123'': expected YYYY-MM-DD or RFC3339 (e.g. 2025-01-30T14:30:00Z)'
                    metadata:
                      request_id: d706b33d-ef0c-484d-a5e5-2f8b68ecb203
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    PriceTarget:
      type: object
      description: Analyst price target statistics
      required:
      - high
      - low
      - average
      - currency
      properties:
        average:
          type: string
          description: Average analyst price target
          example: '220.00'
        currency:
          type: string
          description: ISO 4217 currency code of the price targets
          example: USD
        high:
          type: string
          description: Highest analyst price target
          example: '250.00'
        low:
          type: string
          description: Lowest analyst price target
          example: '180.00'
    ReportTime:
      type: string
      description: 'Earnings report timing: before market open or after market close'
      enum:
      - BMO
      - AMC
    AnalystRating:
      type: string
      description: Analyst rating category
      enum:
      - STRONG_BUY
      - BUY
      - HOLD
      - SELL
      - STRONG_SELL
    ResponseMetadata:
      type: object
      description: 'Metadata for the response. This will always contain a request ID which can be used to identify

        the request to Clear Street for tracing, and optionally may include pagination data.'
      required:
      - request_id
      properties:
        next_page_token:
          oneOf:
          - type: 'null'
          - type: string
            format: byte
            description: Base64URL-encoded pagination token
          description: 'A token that can be used to retrieve the next page of results, if any.

            The token contains opaque pagination state.

            Filtering and sorting parameters must be provided with each request.'
        page_number:
          type:
          - integer
          - 'null'
          format: int32
          description: Pagination. Included if this was a GET (list) response
          example: '1'
          minimum: 0
        previous_page_token:
          oneOf:
          - type: 'null'
          - type: string
            format: byte
            description: Base64URL-encoded pagination token
          description: 'A token that can be used to retrieve the previous page of results, if any.

            The token contains opaque pagination state.

            Filtering and sorting parameters must be provided with each request.'
        request_id:
          type: string
          description: A unique ID for this request, generated upon ingestion of the request.
        total_items:
          type:
          - integer
          - 'null'
          format: int64
          description: Total number of items available (not just in this page).
          example: '42'
          minimum: 0
        total_pages:
          type:
          - integer
          - 'null'
          format: int32
          description: Total number of pages available.
          example: '5'
          minimum: 0
    InstrumentSplitEvent:
      type: object
      description: Represents a stock split event for an instrument
      required:
      - date
      - numerator
      - denominator
      - split_type
      properties:
        date:
          type: string
          format: date
          description: The date of the stock split
          example: 2025-07-20
        denominator:
          type: string
          description: The denominator of the split ratio
        numerator:
          type: string
          description: The numerator of the split ratio
        split_type:
          type: string
          description: The type of stock split (e.g., "stock-split", "stock-dividend", "bonus-issue")
      example:
        date: 2025-08-15
        denominator: '4'
        numerator: '1'
        split_type: stock-split
    InstrumentCashFlowStatement:
      type: object
      description: A quarterly cash flow statement for an instrument.
      required:
      - reported_currency
      - filing_date
      - accepted_date
      - year
      - period
      - period_type
      properties:
        accepted_date:
          type: string
          format: date-time
          description: The date and time when the filing was accepted by the SEC
          example: 2025-05-02 14:30:00+00:00
        accounts_payables:
          type:
          - string
          - 'null'
          description: Change in accounts payables
        accounts_receivables:
          type:
          - string
          - 'null'
          description: Change in accounts receivables
        acquisitions_net:
          type:
          - string
          - 'null'
          description: Net acquisitions
        capital_expenditure:
          type:
          - string
          - 'null'
          description: Capital expenditure
          example: '-2600000000'
        cash_at_beginning_of_period:
          type:
          - string
          - 'null'
          description: Cash and cash equivalents at beginning of period
          example: '33743000000'
        cash_at_end_of_period:
          type:
          - string
          - 'null'
          description: Cash and cash equivalents at end of period
          example: '29943000000'
        change_in_working_capital:
          type:
          - string
          - 'null'
          description: Change in working capital
          example: '-3200000000'
        common_dividends_paid:
          type:
          - string
          - 'null'
          description: Common dividends paid
        common_stock_issuance:
          type:
          - string
          - 'null'
          description: Common stock issuance
        common_stock_repurchased:
          type:
          - string
          - 'null'
          description: Common stock repurchased (buybacks)
          example: '-23000000000'
        deferred_income_tax:
          type:
          - string
          - 'null'
          description: Deferred income tax expense
        depreciation_and_amortization:
          type:
          - string
          - 'null'
          description: Depreciation and amortization expense
          example: '2900000000'
        effect_of_forex_changes_on_cash:
          type:
          - string
          - 'null'
          description: Effect of foreign exchange changes on cash
        filing_date:
          type: string
          format: date
          description: The date the financial statement was filed
          example: 2025-05-01
        free_cash_flow:
          type:
          - string
          - 'null'
          description: Free cash flow (operating cash flow minus capital expenditure)
          example: '25800000000'
        income_taxes_paid:
          type:
          - string
          - 'null'
          description: Income taxes paid
        interest_paid:
          type:
          - string
          - 'null'
          description: Interest paid
        inventory:
          type:
          - string
          - 'null'
          description: Change in inventory
        investments_in_property_plant_and_equipment:
          type:
          - string
          - 'null'
          description: Investments in property, plant, and equipment
          example: '-2600000000'
        long_term_net_debt_issuance:
          type:
          - string
          - 'null'
          description: Long-term net debt issuance
        net_cash_provided_by_financing_activities:
          type:
          - string
          - 'null'
          description: Net cash provided by financing activities
          example: '-28300000000'
        net_cash_provided_by_investing_activities:
          type:
          - string
          - 'null'
          description: Net cash provided by investing activities
          example: '-3900000000'
        net_cash_provided_by_operating_activities:
          type:
          - string
          - 'null'
          description: Net cash provided by operating activities
          example: '28400000000'
        net_change_in_cash:
          type:
          - string
          - 'null'
          description: Net change in cash during the period
          example: '-3800000000'
        net_common_stock_issuance:
          type:
          - string
          - 'null'
          description: Net common stock issuance
        net_debt_issuance:
          type:
          - string
          - 'null'
          description: Net debt issuance (long-term + short-term)
          example: '-1500000000'
        net_dividends_paid:
          type:
          - string
          - 'null'
          description: Net dividends paid (common + preferred)
          example: '-3800000000'
        net_income:
          type:
          - string
          - 'null'
          description: Net income for the period
          example: '22200000000'
        net_preferred_stock_issuance:
          type:
          - string
          - 'null'
          description: Net preferred stock issuance
        net_stock_issuance:
          type:
          - string
          - 'null'
          description: Net stock issuance (common + preferred)
        operating_cash_flow:
          type:
          - string
          - 'null'
          description: Operating cash flow (alternative calculation)
          example: '28400000000'
        other_financing_activities:
          type:
          - string
          - 'null'
          description: Other financing activities
        other_investing_activities:
          type:
          - string
          - 'null'
          description: Other investing activities
        other_non_cash_items:
          type:
          - string
          - 'null'
          description: Other non-cash items
        other_working_capital:
          type:
          - string
          - 'null'
          description: Change in other working capital
        period:
          type: string
          description: The fiscal period identifier (e.g., "Q1", "Q2", "Q3", "Q4")
          example: Q1
        period_type:
          $ref: '#/components/schemas/FiscalPeriodType'
          description: The type of fiscal period
        preferred_dividends_paid:
          type:
          - string
          - 'null'
          description: Preferred dividends paid
        purchases_of_investments:
          type:
          - string
          - 'null'
          description: Purchases of investments
          example: '-9500000000'
        reported_currency:
          type: string
          description: The currency in which the statement is reported (ISO 4217)
          example: USD
        sales_maturities_of_investments:
          type:
          - string
          - 'null'
          description: Sales and maturities of investments
          example: '8200000000'
        short_term_net_debt_issuance:
          type:
          - string
          - 'null'
          description: Short-term net debt issuance
        stock_based_compensation:
          type:
          - string
          - 'null'
          description: Stock-based compensation expense
          example: '2500000000'
        year:
          type: integer
          format: int32
          description: The fiscal year of the statement
          example: 2025
      example:
        accepted_date: 2025-05-02 14:30:00+00:00
        capital_expenditure: '-2600000000'
        cash_at_beginning_of_period: '33743000000'
        cash_at_end_of_period: '29943000000'
        change_in_working_capital: '-3200000000'
        common_stock_repurchased: '-23000000000'
        depreciation_and_amortization: '2900000000'
        filing_date: 2025-05-01
        free_cash_flow: '25800000000'
        investments_in_property_plant_and_equipment: '-2600000000'
        net_cash_provided_by_financing_activities: '-28300000000'
        net_cash_provided_by_investing_activities: '-3900000000'
        net_cash_provided_by_operating_activities: '28400000000'
        net_change_in_cash: '-3800000000'
        net_debt_issuance: '-1500000000'
        net_dividends_paid: '-3800000000'
        net_income: '22200000000'
        operating_cash_flow: '28400000000'
        period: Q1
        period_type: QUARTERLY
        purchases_of_investments: '-9500000000'
        reported_currency: USD
        sales_maturities_of_investments: '8200000000'
        stock_based_compensation: '2500000000'
        year: 2025
    DailySummaryList:
      type: array
      items:
        $ref: '#/components/schemas/DailySummary'
    SnapshotQuote:
      type: object
      description: L1 quote fields for a market data snapshot.
      properties:
        ask:
          type:
          - string
          - 'null'
          description: 'Current best ask. Absent when no ask is available (one-sided quote).

            When a null/undefined value is observed, it indicates that there is no available data.'
        ask_size:
          type:
          - integer
          - 'null'
          format: int32
          description: 'Size at the best ask, in shares.

            When a null/undefined value is observed, it indicates that there is no available data.'
          minimum: 0
        bid:
          type:
          - string
          - 'null'
          description: 'Current best bid. Absent when no bid is available (one-sided quote).

            When a null/undefined value is observed, it indicates that there is no available data.'
        bid_size:
          type:
          - integer
          - 'null'
          format: int32
          description: 'Size at the best bid, in shares.

            When a null/undefined value is observed, it indicates that there is no available data.'
          minimum: 0
        midpoint:
          type:
          - string
          - 'null'
          description: 'Midpoint of bid and ask. Absent when either side is missing.

            When a null/undefined value is observed, it indicates that there is no available data.'
    SnapshotSession:
      type: object
      description: Session-level pricing metrics for a market data snapshot.
      required:
      - previous_close
      - change
      - change_percent
      properties:
        change:
          type: string
          description: Absolute change from previous close to last trade.
        change_percent:
          type: string
          description: Percent change from previous close to last trade.
        previous_close:
          type: string
          description: Previous session close price.
    InstrumentIncomeStatement:
      type: object
      description: A quarterly income statement for an instrument.
      required:
      - reported_currency
      - filing_date
      - accepted_date
      - year
      - period
      - period_type
      properties:
        accepted_date:
          type: string
          format: date-time
          description: The date and time when the filing was accepted by the SEC
          example: 2025-05-02 14:30:00+00:00
        bottom_line_net_income:
          type:
          - string
          - 'null'
          description: Bottom line net income after all adjustments
          example: '22200000000'
        cost_and_expenses:
          type:
          - string
          - 'null'
          description: Total costs and expenses
          example: '68380000000'
        cost_of_revenue:
          type:
          - string
          - 'null'
          description: Direct costs attributable to producing goods sold
          example: '52080000000'
        depreciation_and_amortization:
          type:
          - string
          - 'null'
          description: Depreciation and amortization expenses
          example: '2800000000'
        ebit:
          type:
          - string
          - 'null'
          description: Earnings before interest and taxes
          example: '26550000000'
        ebitda:
          type:
          - string
          - 'null'
          description: Earnings before interest, taxes, depreciation, and amortization
          example: '29350000000'
        eps:
          type:
          - string
          - 'null'
          description: Basic earnings per share
          example: '1.40'
        eps_diluted:
          type:
          - string
          - 'null'
          description: Diluted earnings per share
          example: '1.38'
        filing_date:
          type: string
          format: date
          description: The date the financial statement was filed
          example: 2025-05-01
        general_and_administrative_expenses:
          type:
          - string
          - 'null'
          description: General administrative overhead expenses
          example: '2500000000'
        gross_profit:
          type:
          - string
          - 'null'
          description: Revenue minus cost of revenue
          example: '42850000000'
        income_before_tax:
          type:
          - string
          - 'null'
          description: Income before income tax expense
          example: '26400000000'
        income_tax_expense:
          type:
          - string
          - 'null'
          description: Income tax expense for the period
          example: '4200000000'
        interest_expense:
          type:
          - string
          - 'null'
          description: Interest paid on debt
          example: '1450000000'
        interest_income:
          type:
          - string
          - 'null'
          description: Interest earned on investments and cash
          example: '1200000000'
        net_income:
          type:
          - string
          - 'null'
          description: Total net income for the period
          example: '22200000000'
        net_income_deductions:
          type:
          - string
          - 'null'
          description: Deductions from net income
        net_income_from_continuing_operations:
          type:
          - string
          - 'null'
          description: Net income from continuing operations
          example: '22200000000'
        net_income_from_discontinued_operations:
          type:
          - string
          - 'null'
          description: Net income from discontinued operations
        net_interest_income:
          type:
          - string
          - 'null'
          description: Net interest income (interest income minus interest expense)
          example: '-250000000'
        non_operating_income_excluding_interest:
          type:
          - string
          - 'null'
          description: Non-operating income excluding interest
          example: '100000000'
        operating_expenses:
          type:
          - string
          - 'null'
          description: Total operating expenses
          example: '16300000000'
        operating_income:
          type:
          - string
          - 'null'
          description: Income from core business operations
          example: '26550000000'
        other_adjustments_to_net_income:
          type:
          - string
          - 'null'
          description: Other adjustments to net income
        other_expenses:
          type:
          - string
          - 'null'
          description: Other miscellaneous expenses
          example: '0'
        period:
          type: string
          description: The fiscal period identifier (e.g., "Q1", "Q2", "Q3", "Q4")
          example: Q1
        period_type:
          $ref: '#/components/schemas/FiscalPeriodType'
          description: The type of fiscal period
        reported_currency:
          type: string
          description: The currency in which the statement is reported (ISO 4217)
          example: USD
        research_and_development_expenses:
          type:
          - string
          - 'null'
          description: Expenditure on research and development activities
          example: '7700000000'
        revenue:
          type:
          - string
          - 'null'
          description: Total revenue from sales of goods and services
          example: '94930000000'
        selling_and_marketing_expenses:
          type:
          - string
          - 'null'
          description: Expenditure on marketing and sales activities
          example: '6100000000'
        selling_general_and_administrative_expenses:
          type:
          - string
          - 'null'
          description: Combined selling, general, and administrative expenses
          example: '8600000000'
        total_other_income_expenses_net:
          type:
          - string
          - 'null'
          description: Net of other income and expenses
          example: '-150000000'
        weighted_average_shs_out:
          type:
          - string
          - 'null'
          description: Weighted average shares outstanding (basic)
          example: '15800000000'
        weighted_average_shs_out_dil:
          type:
          - string
          - 'null'
          description: Weighted average shares outstanding (diluted)
          example: '16000000000'
        year:
          type: integer
          format: int32
          description: The fiscal year of the statement
          example: 2025
      example:
        accepted_date: 2025-05-02 14:30:00+00:00
        bottom_line_net_income: '22200000000'
        cost_and_expenses: '68380000000'
        cost_of_revenue: '52080000000'
        depreciation_and_amortization: '2800000000'
        ebit: '26550000000'
        ebitda: '29350000000'
        eps: '1.40'
        eps_diluted: '1.38'
        filing_date: 2025-05-01
        general_and_administrative_expenses: '2500000000'
        gross_profit: '42850000000'
        income_before_tax: '26400000000'
        income_tax_expense: '4200000000'
        interest_expense: '1450000000'
        interest_income: '1200000000'
        net_income: '22200000000'
        net_income_deductions: null
        net_income_from_continuing_operations: '22200000000'
        net_income_from_discontinued_operations: null
        net_interest_income: '-250000000'
        non_operating_income_excluding_interest: '100000000'
        operating_expenses: '16300000000'
        operating_income: '26550000000'
        other_adjustments_to_net_income: null
        other_expenses: '0'
        period: Q1
        period_type: QUARTERLY
        reported_currency: USD
        research_and_development_expenses: '7700000000'
        revenue: '94930000000'
        selling_and_marketing_expenses: '6100000000'
        selling_general_and_administrative_expenses: '8600000000'
        total_other_income_expenses_net: '-150000000'
        weighted_average_shs_out: '15800000000'
        weighted_average_shs_out_dil: '16000000000'
        year: 2025
    FiscalPeriodType:
      type: string
      description: Fiscal period type for earnings reports
      enum:
      - QUARTERLY
      - ANNUAL
      - TTM
      - BIANNUAL
    AnalystDistribution:
      type: object
      description: Analyst recommendation distribution
      required:
      - strong_buy
      - buy
      - hold
      - sell
      - strong_sell
      properties:
        buy:
          type: integer
          format: int64
          description: Number of buy recommendations
          example: 28
        hold:
          type: integer
          format: int64
          description: Number of hold recommendations
          example: 6
        sell:
          type: integer
          format: int64
          description: Number of sell recommendations
          example: 2
        strong_buy:
          type: integer
          format: int64
          description: Number of strong buy recommendations
          example: 20
        strong_sell:
          type: integer
          format: int64
          description: Number of strong sell recommendations
          example: 0
    InstrumentAnalystConsensus:
      type: object
      description: Aggregated analyst consensus metrics
      required:
      - date
      properties:
        date:
          type: string
          format: date
          description: The date the consensus snapshot was generated
          example: 2024-11-15
        distribution:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AnalystDistribution'
            description: 'Count of individual analyst recommendations by category

              When a null/undefined value is observed, it indicates that there is no available data.'
        price_target:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/PriceTarget'
            description: 'Aggregated analyst price target statistics

              When a null/undefined value is observed, it indicates that there is no available data.'
        rating:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/AnalystRating'
            description: 'Consensus analyst rating

              When a null/undefined value is observed, it indicates that there is no available data.'
      example:
        date: 2024-11-15
        distribution:
          buy: 28
          hold: 6
          sell: 2
          strong_buy: 20
          strong_sell: 0
        price_target:
          average: '220.00'
          currency: USD
          high: '250.00'
          low: '180.00'
        rating: STRONG_BUY
    AllEventsEventType:
      type: string
      description: Event types supported by the all-events endpoint.
      enum:
      - EARNINGS
      - DIVIDEND
      - STOCK_SPLIT
      - IPO
    InstrumentDividendEvent:
      type: object
      description: Represents a dividend event for an instrument
      required:
      - ex_date
      - adjusted_dividend_amount
      properties:
        adjusted_dividend_amount:
          type: string
          description: The adjusted dividend amount accounting for any splits.
          example: '0.88'
        declaration_date:
          type:
          - string
          - 'null'
          format: date
          description: 'The declaration date of the dividend

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: 2025-07-25
        dividend_amount:
          type:
          - string
          - 'null'
          description: 'The dividend amount per share.

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '0.88'
        dividend_yield:
          type:
          - string
          - 'null'
          description: 'The dividend yield as a percentage of the stock price.

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '1.25'
        ex_date:
          type: string
          format: date
          description: The day the stock starts trading without the right to receive that dividend.
          example: 2025-08-15
        frequency:
          type:
          - string
          - 'null'
          description: 'The frequency of the dividend payments (e.g., "Quarterly", "Annual").

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: Quarterly
        payment_date:
          type:
          - string
          - 'null'
          format: date
          description: 'The payment date is the date on which a declared stock dividend is scheduled to be paid.

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: 2025-08-20
        record_date:
          type:
          - string
          - 'null'
          format: date
          description: 'The record date, set by a company''s board of directors, is when a

            company compiles a list of shareholders of the stock for which it has declared a dividend.

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: 2025-08-01
      example:
        adjusted_dividend_amount: '0.88'
        declaration_date: 2025-07-25
        dividend_amount: '0.88'
        dividend_yield: '1.25'
        ex_date: 2025-08-15
        frequency: Quarterly
        payment_date: 2025-08-20
        record_date: 2025-08-01
    InstrumentCashFlowStatementList:
      type: array
      items:
        $ref: '#/components/schemas/InstrumentCashFlowStatement'
    InstrumentAllEventsData:
      type: object
      description: All-events payload grouped by date.
      required:
      - event_dates
      properties:
        event_dates:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentEventsByDate'
          description: Events grouped by date in descending order.
    InstrumentEventsData:
      type: object
      description: Grouped instrument events by type
      required:
      - instrument_id
      - earnings
      - dividends
      - splits
      properties:
        dividends:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentDividendEvent'
          description: Dividend distribution events
        earnings:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentEarnings'
          description: Earnings announcement events
        instrument_id:
          type: string
          format: uuid
          description: Instrument identifier
        reporting_currency:
          type:
          - string
          - 'null'
          description: 'The currency used for reporting financial data

            When a null/undefined value is observed, it indicates that there is no available data.'
        splits:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentSplitEvent'
          description: Stock split events
      example:
        dividends:
        - adjusted_dividend_amount: '0.25'
          declaration_date: 2024-10-31
          dividend_amount: '0.25'
          dividend_yield: '0.44'
          ex_date: 2024-11-08
          frequency: Quarterly
          payment_date: 2024-11-14
          record_date: 2024-11-11
        earnings:
        - date: 2024-10-31
          eps_actual: '1.64'
          eps_estimate: '1.60'
          eps_surprise_percent: '2.5'
          revenue_actual: '94930000000'
          revenue_estimate: '94500000000'
          revenue_surprise_percent: '0.45'
        instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
        splits:
        - date: 2020-08-31
          denominator: '1'
          numerator: '4'
          split_type: stock-split
    MarketDataSnapshot:
      type: object
      description: Market data snapshot for a single security.
      required:
      - instrument_id
      - symbol
      properties:
        cumulative_volume:
          type:
          - integer
          - 'null'
          format: int64
          description: 'Cumulative traded volume reported on the most recent trade, in shares for

            equities or contracts for options. Absent when no trade is available.

            When a null/undefined value is observed, it indicates that there is no available data.'
          minimum: 0
        greeks:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnapshotGreeks'
            description: 'Theoretical price and Greeks for option instruments. `None` for

              equities, and for options whose Greeks have not yet been observed

              When a null/undefined value is observed, it indicates that there is no available data.'
        instrument_id:
          type: string
          description: Unique instrument identifier.
        last_quote:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnapshotQuote'
            description: 'Most recent quote if available.

              When a null/undefined value is observed, it indicates that there is no available data.'
        last_trade:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnapshotLastTrade'
            description: 'Most recent last-sale trade if available.

              When a null/undefined value is observed, it indicates that there is no available data.'
        name:
          type:
          - string
          - 'null'
          description: 'Security name if available.

            When a null/undefined value is observed, it indicates that there is no available data.'
        session:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SnapshotSession'
            description: 'Session metrics computed from previous close and last trade, if available.

              When a null/undefined value is observed, it indicates that there is no available data.'
        symbol:
          type: string
          description: Display symbol for the security.
      example:
        cumulative_volume: 12345678
        instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
        last_quote:
          ask: '210.14'
          ask_size: 200
          bid: '210.10'
          bid_size: 300
          midpoint: '210.12'
        last_trade:
          price: '210.12'
          size: 100
        name: Apple Inc.
        session:
          change: '1.82'
          change_percent: '0.8737'
          previous_close: '208.30'
        symbol: AAPL
    ApiError:
      type: object
      description: A direct mapping of tonic::Status, for use in HTTP responses.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
          description: 'The error code is used to identify the nature of the error. It corresponds

            to an HTTP status code.'
          example: 400
          minimum: 0
        details:
          $ref: '#/components/schemas/ErrorDetails'
          description: 'Additional error details, if any. This can include structured information

            such as field violations or error metadata.'
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Order quantity must be greater than zero
    InstrumentBalanceSheetStatementList:
      type: array
      items:
        $ref: '#/components/schemas/InstrumentBalanceSheetStatement'
    InstrumentEventsByDate:
      type: object
      description: Instrument events for a single date.
      required:
      - date
      - events
      properties:
        date:
          type: string
          format: date
          description: Event date.
        events:
          type: array
          items:
            $ref: '#/components/schemas/InstrumentEventEnvelope'
          description: Flat event envelopes for this date.
    InstrumentIncomeStatementList:
      type: array
      items:
        $ref: '#/components/schemas/InstrumentIncomeStatement'
    InstrumentEventEnvelope:
      type: object
      description: Unified envelope for the all-events response.
      required:
      - type
      - symbol
      properties:
        dividend_event_data:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InstrumentDividendEvent'
            description: 'Dividend payload when type is DIVIDEND.

              When a null/undefined value is observed, it indicates it does not apply.'
        earnings_event_data:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InstrumentEarnings'
            description: 'Earnings payload when type is EARNINGS.

              When a null/undefined value is observed, it indicates it does not apply.'
        instrument_id:
          type:
          - string
          - 'null'
          format: uuid
          description: 'Instrument identifier, when available.

            When a null/undefined value is observed, it indicates that there is no available data.'
        ipo_event_data:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InstrumentEventIpoItem'
            description: 'IPO payload when type is IPO.

              When a null/undefined value is observed, it indicates it does not apply.'
        name:
          type:
          - string
          - 'null'
          description: 'Instrument name associated with the event, when available.

            When a null/undefined value is observed, it indicates that there is no available data.'
        reporting_currency:
          type:
          - string
          - 'null'
          description: 'The currency used for reporting financial data.

            When a null/undefined value is observed, it indicates that there is no available data.'
        stock_split_event_data:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InstrumentSplitEvent'
            description: 'Stock split payload when type is STOCK_SPLIT.

              When a null/undefined value is observed, it indicates it does not apply.'
        symbol:
          type: string
          description: Symbol associated with the event.
        type:
          $ref: '#/components/schemas/AllEventsEventType'
          description: Event type discriminator.
    InstrumentEventIpoItem:
      type: object
      description: IPO event in the all-events date grouping response.
      properties:
        actions:
          type:
          - string
          - 'null'
          description: 'IPO action.

            When a null/undefined value is observed, it indicates that there is no available data.'
        announced_at:
          type:
          - string
          - 'null'
          format: date-time
          description: 'IPO announced timestamp.

            When a null/undefined value is observed, it indicates that there is no available data.'
        company:
          type:
          - string
          - 'null'
          description: 'IPO company name.

            When a null/undefined value is observed, it indicates that there is no available data.'
        exchange:
          type:
          - string
          - 'null'
          description: 'IPO exchange.

            When a null/undefined value is observed, it indicates that there is no available data.'
        market_cap:
          type:
          - string
          - 'null'
          description: 'IPO market cap.

            When a null/undefined value is observed, it indicates that there is no available data.'
        price_range:
          type:
          - string
          - 'null'
          description: 'IPO price range.

            When a null/undefined value is observed, it indicates that there is no available data.'
        shares:
          type:
          - string
          - 'null'
          description: 'IPO shares offered.

            When a null/undefined value is observed, it indicates that there is no available data.'
    DailySummary:
      type: object
      description: "Daily aggregate (OHLV) summary for a single instrument.\n\nReturned by `GET /market-data/daily-summary`. Every field except\n`instrument_id` and `not_applicable` is `Option`:\n- Unresolvable `instrument_id` → all other fields `None` (including `symbol`).\n- Resolvable `instrument_id` with no realtime cache entry → `symbol`\n  populated, OHLV/`trade_date` `None`.\n- `trade_date` reflects the session the OHLV represents (today during\n  trading hours, the last trading date during weekends/holidays).\n- `not_applicable` is a non-optional `bool`, always serialized: `true` for\n  instrument types with no daily summary by definition (e.g. an index, whose\n  OHLV/`trade_date` are `None`), `false` otherwise."
      required:
      - instrument_id
      properties:
        high:
          type:
          - string
          - 'null'
          description: 'Session high.

            When a null/undefined value is observed, it indicates that there is no available data.'
        instrument_id:
          type: string
          format: uuid
          description: Unique instrument identifier. Always populated; echoes the request ID.
        low:
          type:
          - string
          - 'null'
          description: 'Session low.

            When a null/undefined value is observed, it indicates that there is no available data.'
        not_applicable:
          type: boolean
          description: '`true` when the instrument type has no daily summary by definition (e.g. an

            index). Distinguishes an intentional N/A from OHLV that is merely not loaded

            yet. `false` for instruments that can have a summary.'
        open:
          type:
          - string
          - 'null'
          description: 'Opening price for the session.

            When a null/undefined value is observed, it indicates that there is no available data.'
        symbol:
          type:
          - string
          - 'null'
          description: 'Display symbol for the security. `None` for unresolvable IDs.

            When a null/undefined value is observed, it indicates that there is no available data.'
        trade_date:
          type:
          - string
          - 'null'
          format: date
          description: 'Session date the OHLV represents, US/Eastern.

            When a null/undefined value is observed, it indicates that there is no available data.'
        volume:
          type:
          - integer
          - 'null'
          format: int64
          description: 'Session cumulative trading volume.

            When a null/undefined value is observed, it indicates that there is no available data.'
      example:
        high: '215.20'
        instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
        low: '210.10'
        not_applicable: false
        open: '211.00'
        symbol: AAPL
        trade_date: 2026-04-23
        volume: 88000000
    InstrumentIdOrSymbol:
      type: string
      description: 'Instrument identifier: either an instrument UUID or a symbol (symbol for equities, OSI for options). Non-UUID inputs are resolved server-side.'
      minLength: 1
    NewsItem:
      type: object
      description: A single news item and its associated instruments.
      required:
      - news_type
      - published_at
      - publisher
      - title
      - url
      - instruments
      properties:
        image_url:
          type:
          - string
          - 'null'
          description: 'URL of an associated image if provided by the source.

            When a null/undefined value is observed, it indicates that there is no available data.'
        instruments:
          type: array
          items:
            $ref: '#/components/schemas/NewsInstrument'
          description: Instruments associated with this news item.
        news_type:
          $ref: '#/components/schemas/NewsType'
          description: Classification of the item.
        published_at:
          type: string
          format: date-time
          description: The published date/time of the article in UTC.
        publisher:
          type: string
          description: The publisher or newswire source.
        site:
          type:
          - string
          - 'null'
          description: 'The primary domain/site of the publisher.

            When a null/undefined value is observed, it indicates that there is no available data.'
        text:
          type:
          - string
          - 'null'
          description: 'The full or excerpted article body.

            When a null/undefined value is observed, it indicates that there is no available data.'
        title:
          type: string
          description: The headline/title of the article.
        url:
          type: string
          description: Canonical URL to the full article.
      example:
        image_url: https://images.financialmodelingprep.com/news/apple-reports-first-quarter-results-20250130.jpg
        instruments:
        - instrument_id: f47ac10b-58cc-4372-a567-0e02b2c3d479
          name: Apple Inc.
          symbol: AAPL
        news_type: NEWS
        published_at: 2025-01-30 16:30:00+00:00
        publisher: Business Wire
        site: businesswire.com
        text: CUPERTINO, Calif.--(BUSINESS WIRE)--Apple today announced financial results...
        title: Apple reports first quarter results
        url: https://www.businesswire.com/news/home/20250130261281/en/Apple-reports-first-quarter-results/
    BaseResponse:
      type: object
      required:
      - metadata
      properties:
        error:
          oneOf:
          - oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ApiError'
              description: Structured error details when the request is unsuccessful.
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
          description: Response metadata, including the request ID and optional pagination info.
    SnapshotLastTrade:
      type: object
      description: 'Last-trade fields for a market data snapshot.


        For index instruments this carries the current index *level* — a computed

        value, not a trade: `price` is the level and `size` is always `0` (no

        contract changes hands).'
      required:
      - price
      - size
      properties:
        price:
          type: string
          description: 'Most recent last-sale eligible trade price. For index instruments, the

            current index level.'
        size:
          type: integer
          format: int32
          description: 'Share quantity of the most recent last-sale eligible trade. Always `0`

            for index instruments, whose level is computed rather than traded.'
          minimum: 0
    NewsType:
      type: string
      description: News item classification.
      enum:
      - NEWS
      - PRESS_RELEASE
    MarketDataSnapshotList:
      type: array
      items:
        $ref: '#/components/schemas/MarketDataSnapshot'
    SnapshotGreeks:
      type: object
      description: 'Theoretical price and Greeks for an options snapshot. All values are

        **per share**; no contract multiplier is applied.'
      required:
      - theo_price
      - iv
      - delta
      - gamma
      - vega
      - theta
      - rho
      - timestamp
      properties:
        delta:
          type: string
          description: 'Delta: ∂V/∂S, range \[-1, 1\].'
        gamma:
          type: string
          description: 'Gamma: ∂²V/∂S².'
        iv:
          type: string
          description: Implied volatility, annualized (`0.20` == 20%).
        rho:
          type: string
          description: Rho per 1.0 rate point.
        theo_price:
          type: string
          description: Theoretical option price in USD per share.
        theta:
          type: string
          description: Theta per trading day.
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the Greeks were calculated.
        vega:
          type: string
          description: Vega per 1.0 vol point.
    InstrumentFundamentals:
      type: object
      description: Supplemental fundamentals and company profile data for an instrument.
      properties:
        average_volume:
          type:
          - integer
          - 'null'
          format: int64
          description: 'The average daily trading volume over the past 30 days

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: 76000000
        beta:
          type:
          - string
          - 'null'
          description: 'The beta value, measuring the instrument''s volatility relative to the overall market

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '1.20'
        description:
          type:
          - string
          - 'null'
          description: 'A detailed description of the instrument or company

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide.
        dividend_yield:
          type:
          - string
          - 'null'
          description: 'The trailing twelve months (TTM) dividend yield

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '0.005'
        earnings_per_share:
          type:
          - string
          - 'null'
          description: 'The trailing twelve months (TTM) earnings per share

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '5.61'
        fifty_two_week_high:
          type:
          - string
          - 'null'
          description: 'The highest price over the last 52 weeks

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '230.00'
        fifty_two_week_low:
          type:
          - string
          - 'null'
          description: 'The lowest price over the last 52 weeks

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '165.00'
        industry:
          type:
          - string
          - 'null'
          description: 'The specific industry of the instrument''s issuer

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: Consumer Electronics
        list_date:
          type:
          - string
          - 'null'
          format: date
          description: 'The date the instrument was first listed

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: 1980-12-12
        logo_url:
          type:
          - string
          - 'null'
          description: 'URL to a representative logo image for the instrument or issuer

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: https://example.com/logos/aapl.png
        market_cap:
          type:
          - string
          - 'null'
          description: 'The total market capitalization

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '2800000000000'
        previous_close:
          type:
          - string
          - 'null'
          description: 'The closing price from the previous trading day

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '210.87'
        price_to_earnings:
          type:
          - string
          - 'null'
          description: 'The price-to-earnings (P/E) ratio for the trailing twelve months (TTM)

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '30.5'
        reporting_currency:
          type:
          - string
          - 'null'
          description: 'The currency used for reporting financial data

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: USD
        sector:
          type:
          - string
          - 'null'
          description: 'The business sector of the instrument''s issuer

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: Technology
      example:
        average_volume: 76000000
        beta: '1.20'
        description: Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide.
        dividend_yield: '0.005'
        earnings_per_share: '5.61'
        fifty_two_week_high: '230.00'
        fifty_two_week_low: '165.00'
        industry: Consumer Electronics
        list_date: 1980-12-12
        logo_url: https://example.com/logos/aapl.png
        market_cap: '2800000000000'
        previous_close: '210.87'
        price_to_earnings: '30.5'
        sector: Technology
    NewsInstrument:
      type: object
      description: Instrument associated with a news item.
      required:
      - instrument_id
      properties:
        instrument_id:
          type: string
          format: uuid
          description: Instrument identifier.
        name:
          type:
          - string
          - 'null'
          description: 'Instrument name/description, if available.

            When a null/undefined value is observed, it indicates that there is no available data.'
        symbol:
          type:
          - string
          - 'null'
          description: 'Trading symbol, if available.

            When a null/undefined value is observed, it indicates that there is no available data.'
      example:
        instrument_id: f47ac10b-58cc-4372-a567-0e02b2c3d479
        name: Apple Inc.
        symbol: AAPL
    InstrumentEarnings:
      type: object
      description: Represents instrument earnings data
      required:
      - date
      properties:
        date:
          type: string
          format: date
          description: The date when the earnings report was published
          example: 2025-07-25
        eps_actual:
          type:
          - string
          - 'null'
          description: 'The actual earnings per share (EPS) for the period

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '1.35'
        eps_estimate:
          type:
          - string
          - 'null'
          description: 'The estimated earnings per share (EPS) for the period

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '1.30'
        eps_surprise_percent:
          type:
          - string
          - 'null'
          description: 'The percentage difference between actual and estimated EPS

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '3.8'
        report_time:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ReportTime'
            description: 'Report timing: before market open or after market close

              When a null/undefined value is observed, it indicates that there is no available data.'
        revenue_actual:
          type:
          - string
          - 'null'
          description: 'The actual total revenue for the period

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '391035000000'
        revenue_estimate:
          type:
          - string
          - 'null'
          description: 'The estimated total revenue for the period

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '391025000000'
        revenue_surprise_percent:
          type:
          - string
          - 'null'
          description: 'The percentage difference between actual and estimated revenue

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '0.05'
      example:
        date: 2025-07-25
        eps_actual: '1.35'
        eps_estimate: '1.30'
        eps_surprise_percent: '3.8'
        report_time: BMO
        revenue_actual: '391035000000'
        revenue_estimate: '391025000000'
        revenue_surprise_percent: '0.05'
    InstrumentBalanceSheetStatement:
      type: object
      description: A quarterly balance sheet statement for an instrument.
      required:
      - reported_currency
      - filing_date
      - accepted_date
      - year
      - period
      - period_type
      properties:
        accepted_date:
          type: string
          format: date-time
          description: The date and time when the filing was accepted by the SEC
          example: 2025-05-02 14:30:00+00:00
        account_payables:
          type:
          - string
          - 'null'
          description: Account payables
          example: '68960000000'
        accounts_receivables:
          type:
          - string
          - 'null'
          description: Accounts receivables
        accrued_expenses:
          type:
          - string
          - 'null'
          description: Accrued expenses
        accumulated_other_comprehensive_income_loss:
          type:
          - string
          - 'null'
          description: Accumulated other comprehensive income/loss
        additional_paid_in_capital:
          type:
          - string
          - 'null'
          description: Additional paid-in capital
        capital_lease_obligations:
          type:
          - string
          - 'null'
          description: Capital lease obligations (total)
        capital_lease_obligations_current:
          type:
          - string
          - 'null'
          description: Capital lease obligations (current portion)
        cash_and_cash_equivalents:
          type:
          - string
          - 'null'
          description: Cash and cash equivalents
          example: '29943000000'
        cash_and_short_term_investments:
          type:
          - string
          - 'null'
          description: Cash and short-term investments combined
          example: '61533000000'
        common_stock:
          type:
          - string
          - 'null'
          description: Common stock
          example: '79850000000'
        deferred_revenue:
          type:
          - string
          - 'null'
          description: Deferred revenue
        deferred_revenue_non_current:
          type:
          - string
          - 'null'
          description: Deferred revenue (non-current)
        deferred_tax_liabilities_non_current:
          type:
          - string
          - 'null'
          description: Deferred tax liabilities (non-current)
        filing_date:
          type: string
          format: date
          description: The date the financial statement was filed
          example: 2025-05-01
        goodwill:
          type:
          - string
          - 'null'
          description: Goodwill
          example: '0'
        goodwill_and_intangible_assets:
          type:
          - string
          - 'null'
          description: Goodwill and intangible assets combined
        intangible_assets:
          type:
          - string
          - 'null'
          description: Intangible assets
          example: '0'
        inventory:
          type:
          - string
          - 'null'
          description: Inventory
          example: '6128000000'
        long_term_debt:
          type:
          - string
          - 'null'
          description: Long-term debt
          example: '95281000000'
        long_term_investments:
          type:
          - string
          - 'null'
          description: Long-term investments
          example: '100544000000'
        minority_interest:
          type:
          - string
          - 'null'
          description: Minority interest
        net_debt:
          type:
[...]
