openapi: 3.2.0
info:
  title: Clear Street Positions API
  version: '1.0'
  description: 'Operations tagged Positions across 2 of this provider''s published API definitions: clear-street-studio-openapi.yml, clear-street-trading-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.clearstreet.io/studio/v2
  description: Production environment
- url: https://sandbox-api.clearstreet.io/studio/v2
  description: Sandbox environment
- url: https://api.clearstreet.com
  description: Clear Street API
- url: https://api-dev.clearstreet.com
  description: Clear Street Development API
- url: http://localhost:5001
  description: Clear Street Local API
tags:
- name: Positions
  x-displayName: Positions
paths:
  /accounts/{account_id}/positions/{symbol}:
    servers:
    - url: https://api.clearstreet.io/studio/v2
      description: Production environment
    - url: https://sandbox-api.clearstreet.io/studio/v2
      description: Sandbox environment
    get:
      operationId: getPosition
      summary: Get position
      description: Get current position for a given account for a given symbol.
      tags:
      - Positions
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/AccountId'
          description: The account ID or account number to get the position for.
      - in: path
        name: symbol
        required: true
        schema:
          $ref: '#/components/schemas/Symbol'
          description: Symbol to get position for.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Position'
        default:
          $ref: '#/components/responses/error'
      security:
      - BearerAuth: []
  /accounts/{account_id}/positions:
    servers:
    - url: https://api.clearstreet.io/studio/v2
      description: Production environment
    - url: https://sandbox-api.clearstreet.io/studio/v2
      description: Sandbox environment
    get:
      operationId: listPositions
      summary: List positions
      description: List current positions for a given account.
      tags:
      - Positions
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          $ref: '#/components/schemas/AccountId'
          description: The account ID or account number to list positions for.
      - in: query
        name: page_size
        schema:
          type: integer
          minimum: 1
          maximum: 2000
          default: 25
          description: Number of positions to return per page.
      - in: query
        name: page_token
        schema:
          type: string
          description: Cursor for the page to return.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Position'
                  next_page_token:
                    type: string
                    description: Cursor for the next page of results.
                required:
                - data
        default:
          $ref: '#/components/responses/error'
      security:
      - BearerAuth: []
  /v1/accounts/{account_id}/positions:
    servers:
    - url: https://api.clearstreet.com
      description: Clear Street API
    - url: https://api-dev.clearstreet.com
      description: Clear Street Development API
    - url: http://localhost:5001
      description: Clear Street Local API
    get:
      tags:
      - Positions
      summary: Get Positions
      description: Retrieves all positions for the specified trading account.
      operationId: get_positions
      parameters:
      - name: account_id
        in: path
        description: Account identifier
        required: true
        schema:
          $ref: '#/components/schemas/i64'
      - name: page_size
        in: query
        description: The number of items to return per page. Only used when page_token is not provided.
        required: false
        schema:
          type: integer
          format: int64
          default: 1000
          maximum: 1000
          minimum: 1
      - name: page_token
        in: query
        description: Token for retrieving the next or previous page of results. Contains encoded pagination state; when provided, page_size is ignored.
        required: false
        schema:
          type: string
          format: byte
          description: Base64URL-encoded pagination token
        example: eyJvZmZzZXQiOjEwMCwibGltaXQiOjEwMH0=
      - name: instrument_ids
        in: query
        description: Comma-separated instrument identifiers
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        style: form
        explode: false
      - name: sort_by
        in: query
        description: Field to sort by
        required: false
        schema:
          type: string
          enum:
          - SYMBOL
          - INSTRUMENT_TYPE
          - QUANTITY
          - MARKET_VALUE
          - POSITION_TYPE
          - UNREALIZED_PNL
          - DAILY_UNREALIZED_PNL
          - DAILY_REALIZED_PNL
      - name: sort_direction
        in: query
        description: Sort direction
        required: false
        schema:
          type: string
          description: Sort direction sorted results
          enum:
          - ASC
          - DESC
      responses:
        '200':
          description: List of positions
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/PositionList'
                type: object
              examples:
                LongAndShortPositions:
                  summary: A list containing long equity, short equity, and long call option positions with all fields populated
                  value:
                    data:
                    - account_id: 19816
                      available_quantity: '100'
                      avg_price: '145.00'
                      closing_price: '150.50'
                      closing_price_date: 2025-10-31
                      cost_basis: '14500.00'
                      daily_realized_pnl: '700.00'
                      instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
                      instrument_price: '151.00'
                      instrument_type: COMMON_STOCK
                      market_value: '15050.00'
                      position_type: LONG
                      quantity: '100'
                      symbol: AAPL
                      unrealized_pnl: '550.00'
                    - account_id: 19816
                      available_quantity: '100'
                      avg_price: '180.00'
                      closing_price: '180.00'
                      closing_price_date: 2025-10-30
                      cost_basis: '-9000.00'
                      daily_realized_pnl: '25.00'
                      instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                      instrument_price: '178.50'
                      instrument_type: COMMON_STOCK
                      market_value: '-9000.00'
                      position_type: SHORT
                      quantity: '-50'
                      symbol: TSLA
                      unrealized_pnl: '75.00'
                    - account_id: 19816
                      available_quantity: '100'
                      avg_price: '2.50'
                      closing_price: '2.70'
                      closing_price_date: 2025-10-30
                      cost_basis: '2500.00'
                      daily_realized_pnl: '10.00'
                      instrument_id: e5e6e7e8-f5f6-a5a6-b5b6-b7b8b9babcbe
                      instrument_price: '2.72'
                      instrument_type: OPTION
                      market_value: '2700.00'
                      position_type: LONG
                      quantity: '10'
                      symbol: AAPL250117C00190000
                      underlying_instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
                      unrealized_pnl: '200.00'
                    error: null
                    metadata:
                      next_page_token: cGFnZT0yJmxhc3Rfc3ltYm9sPVRTM0E=
                      page_number: 1
                      request_id: 3f4a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c
                      total_items: 25
                      total_pages: 3
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - BearerAuth: []
    delete:
      tags:
      - Positions
      summary: Close Positions
      description: 'Delete all positions within an account.


        Closes all positions for the specified trading account.'
      operationId: close_positions
      parameters:
      - name: account_id
        in: path
        description: Account identifier
        required: true
        schema:
          $ref: '#/components/schemas/i64'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: 'null'
              - $ref: '#/components/schemas/ClosePositionRequest'
      responses:
        '200':
          description: List of orders generated to close all positions.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/OrderList'
                type: object
              examples:
                FlattenAccount:
                  summary: A list containing orders statuses for the orders used to close all positions in the account.
                  value:
                    data:
                    - account_id: 19816
                      average_fill_price: null
                      client_order_id: close-positions-20251003-001
                      created_at: 2025-10-03 14:01:15+00:00
                      filled_quantity: '0'
                      id: 019c0b57-0850-7b0b-8a2c-5ee3fb5a5876
                      instrument_id: c3c4c5c6-d3d4-e3e4-f3f4-f5f6f7f8f9fa
                      instrument_type: COMMON_STOCK
                      leaves_quantity: '25'
                      limit_price: null
                      order_type: MARKET
                      quantity: '25'
                      side: SELL
                      status: PENDING_NEW
                      stop_price: null
                      symbol: GOOG
                      time_in_force: DAY
                      updated_at: 2025-10-03 14:01:15+00:00
                      venue: XNMS
                    error: null
                    metadata:
                      request_id: 3f4a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                MalformedPayload:
                  summary: Malformed JSON in request body
                  value:
                    error:
                      code: 400
                      message: 'Failed to parse the request body as JSON: expected `:` at line 2 column 19'
                    metadata:
                      request_id: 93a7c482-b246-4e15-9618-bcbe0906b815
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - BearerAuth: []
  /v1/accounts/{account_id}/positions/instructions:
    servers:
    - url: https://api.clearstreet.com
      description: Clear Street API
    - url: https://api-dev.clearstreet.com
      description: Clear Street Development API
    - url: http://localhost:5001
      description: Clear Street Local API
    get:
      tags:
      - Positions
      summary: Get Position Instructions
      description: 'Returns the current lifecycle state of the account''s position

        instructions. Optionally filter by a specific contract.


        Note: instructions that fail pre-acceptance validation on `POST` —

        duplicates, `DO_NOT_EXERCISE` / `CONTRARY_EXERCISE` on a non-expiry day,

        insufficient position, or an unresolvable instrument — are rejected

        (with `status = REJECTED` and a `rejection_reason`) without being

        persisted, so they surface only in the `POST` response and never appear

        in this list.'
      operationId: get_position_instructions
      parameters:
      - name: account_id
        in: path
        description: Account identifier
        required: true
        schema:
          $ref: '#/components/schemas/i64'
      - name: instrument_id
        in: query
        description: Limit results to a single contract. Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
        required: false
        schema:
          $ref: '#/components/schemas/InstrumentIdOrSymbol'
      responses:
        '200':
          description: Position instructions
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/PositionInstructionList'
                type: object
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Account or instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '503':
          description: Service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - BearerAuth: []
    post:
      tags:
      - Positions
      summary: Submit Position Instructions
      description: "Submit one or more position instructions (Exercise, Do-Not-Exercise,\nContrary Exercise Advice) against the account.\n\nBatch semantics:\n- **All rows accepted** → `200 OK`. Every row is in `data` with\n  `status = SENT`.\n- **Partial success** → `207 Multi-Status`. `data` contains every\n  row; rejected rows carry `status = REJECTED` and\n  `rejection_reason`. The top-level `error` summarizes the batch\n  failure.\n- **All rows rejected** → `4xx`/`5xx`. The HTTP status reflects\n  the aggregate cause: `409` when every row was a duplicate, `400`\n  for validation failures like DNE/CEA on a non-expiry day, `503`\n  if the clearing service is unavailable. `data` still contains\n  every row carrying `status = REJECTED` and `rejection_reason`\n  so callers can attribute failures by `instruction_id`; the\n  top-level `error` summarizes the batch."
      operationId: submit_position_instructions
      parameters:
      - name: account_id
        in: path
        description: Account identifier
        required: true
        schema:
          $ref: '#/components/schemas/i64'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PositionInstructionSubmissionRequest'
        required: true
      responses:
        '200':
          description: All instructions accepted
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/PositionInstructionList'
                type: object
              examples:
                AllAccepted:
                  summary: Every row accepted — each carries status=SENT
                  value:
                    data:
                    - account_id: 122503
                      id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e02
                      instruction_id: ui-20260424-001
                      instruction_type: EXERCISE
                      instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                      quantity: '1'
                      status: SENT
                      symbol: AAPL  280121C00195000
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd01
        '207':
          description: Partial success — some rows accepted, others rejected
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/PositionInstructionList'
                type: object
              examples:
                PartialDuplicate:
                  summary: One row accepted, one rejected as duplicate
                  value:
                    data:
                    - account_id: 122503
                      id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e02
                      instruction_id: ui-20260424-001
                      instruction_type: EXERCISE
                      instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                      quantity: '1'
                      status: SENT
                      symbol: AAPL  280121C00195000
                    - account_id: 122503
                      id: 00000000-0000-0000-0000-000000000000
                      instruction_id: ui-20260424-001
                      instruction_type: EXERCISE
                      instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                      quantity: '1'
                      rejection_reason: Duplicate exercise instruction
                      status: REJECTED
                      symbol: AAPL  280121C00195000
                    error:
                      code: 409
                      message: Duplicate exercise instruction
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd02
        '400':
          description: Invalid request or all rows rejected by validation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/PositionInstructionList'
                type: object
              examples:
                DneOutsideExpiry:
                  summary: All rows rejected — DNE submitted outside the expiration date
                  value:
                    data:
                    - account_id: 122503
                      id: 00000000-0000-0000-0000-000000000000
                      instruction_id: ui-20260424-001
                      instruction_type: DO_NOT_EXERCISE
                      instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                      quantity: '1'
                      rejection_reason: DO_NOT_EXERCISE must be submitted on the contract's expiration date
                      status: REJECTED
                      symbol: AAPL  280121C00195000
                    error:
                      code: 400
                      message: DO_NOT_EXERCISE must be submitted on the contract's expiration date
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd03
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Account or instrument not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: All rows rejected as duplicates
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/PositionInstructionList'
                type: object
              examples:
                AllDuplicates:
                  summary: Every submitted instruction_id was already accepted earlier
                  value:
                    data:
                    - account_id: 122503
                      id: 00000000-0000-0000-0000-000000000000
                      instruction_id: ui-20260424-001
                      instruction_type: EXERCISE
                      instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                      quantity: '1'
                      rejection_reason: Duplicate exercise instruction; existing_id=019e7415-de03-70c3-8ca1-9fdb72dfdbbc
                      status: REJECTED
                      symbol: AAPL  280121C00195000
                    error:
                      code: 409
                      message: Duplicate exercise instruction
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd04
        '500':
          description: All rows rejected by an internal server fault
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/PositionInstructionList'
                type: object
              examples:
                AllInternalFault:
                  summary: Every row failed because of an internal server fault
                  value:
                    data:
                    - account_id: 122503
                      id: 00000000-0000-0000-0000-000000000000
                      instruction_id: ui-20260424-001
                      instruction_type: EXERCISE
                      instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                      quantity: '1'
                      rejection_reason: Could not process the instruction
                      status: REJECTED
                      symbol: AAPL  280121C00195000
                    error:
                      code: 500
                      message: Could not process the instruction
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd05
        '503':
          description: All rows rejected because the clearing service was unavailable
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/PositionInstructionList'
                type: object
              examples:
                AllUnavailable:
                  summary: Every row failed because the clearing service was unavailable
                  value:
                    data:
                    - account_id: 122503
                      id: 00000000-0000-0000-0000-000000000000
                      instruction_id: ui-20260424-001
                      instruction_type: EXERCISE
                      instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                      quantity: '1'
                      rejection_reason: Clearing service unavailable
                      status: REJECTED
                      symbol: AAPL  280121C00195000
                    error:
                      code: 503
                      message: Clearing service unavailable
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd06
      security:
      - BearerAuth: []
  /v1/accounts/{account_id}/positions/instructions/{instruction_id}:
    servers:
    - url: https://api.clearstreet.com
      description: Clear Street API
    - url: https://api-dev.clearstreet.com
      description: Clear Street Development API
    - url: http://localhost:5001
      description: Clear Street Local API
    delete:
      tags:
      - Positions
      summary: Cancel Position Instruction
      description: 'Cancel an outstanding position instruction by its server-assigned `id`.

        Returns the updated instruction with status `CANCEL_REQUESTED`. The

        terminal `CANCELLED` or `CANCEL_FAILED` state arrives asynchronously and

        is observable via subsequent GETs.'
      operationId: cancel_position_instruction
      parameters:
      - name: account_id
        in: path
        description: Account identifier
        required: true
        schema:
          $ref: '#/components/schemas/i64'
      - name: instruction_id
        in: path
        description: Server-assigned instruction id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Cancel accepted
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/PositionInstruction'
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Instruction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: Instruction is in a terminal state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '503':
          description: Service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - BearerAuth: []
  /v1/accounts/{account_id}/positions/{instrument_id}:
    servers:
    - url: https://api.clearstreet.com
      description: Clear Street API
    - url: https://api-dev.clearstreet.com
      description: Clear Street Development API
    - url: http://localhost:5001
      description: Clear Street Local API
    delete:
      tags:
      - Positions
      summary: Close Position
      description: 'Delete a position within an account for an instrument.


        Retrieves orders generated to close the position.'
      operationId: close_position
      parameters:
      - name: account_id
        in: path
        description: Account identifier
        required: true
        schema:
          $ref: '#/components/schemas/i64'
      - name: instrument_id
        in: path
        description: Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
        required: true
        schema:
          $ref: '#/components/schemas/InstrumentIdOrSymbol'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: 'null'
              - $ref: '#/components/schemas/ClosePositionRequest'
      responses:
        '200':
          description: List of orders generated to close the position.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      $ref: '#/components/schemas/OrderList'
                type: object
              examples:
                LongAndShortPositions:
                  summary: A list containing orders statuses for the orders used to close the position of the specified instrument.
                  value:
                    data:
                    - account_id: 19816
                      average_fill_price: null
                      client_order_id: close-position-20251003-001
                      created_at: 2025-10-03 14:01:15+00:00
                      filled_quantity: '0'
                      id: 019c0b56-2119-7482-a80f-5a2a316524d9
                      instrument_id: c3c4c5c6-d3d4-e3e4-f3f4-f5f6f7f8f9fa
                      instrument_type: COMMON_STOCK
                      leaves_quantity: '25'
                      limit_price: null
                      order_type: MARKET
                      quantity: '25'
                      side: SELL
                      status: PENDING_NEW
                      stop_price: null
                      symbol: GOOG
                      time_in_force: DAY
                      updated_at: 2025-10-03 14:01:15+00:00
                      venue: XNMS
                    error: null
                    metadata:
                      request_id: 3f4a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                MalformedPayload:
                  summary: Malformed JSON in request body
                  value:
                    error:
                      code: 400
                      message: 'Failed to parse the request body as JSON: expected `:` at line 2 column 19'
                    metadata:
                      request_id: 93a7c482-b246-4e15-9618-bcbe0906b815
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      security:
      - BearerAuth: []
components:
  schemas:
    TrailingOffsetType:
      type: string
      description: Trailing offset type for trailing stop orders.
      enum:
      - PRICE
      - BPS
    ResponseMetadata:
      type: object
      description: 'Metadata for the response. This will always contain a request ID which can be used to identify

        the request to Clear Street for tracing, and optionally may include pagination data.'
      required:
      - request_id
      properties:
        next_page_token:
          oneOf:
          - type: 'null'
          - type: string
            format: byte
            description: Base64URL-encoded pagination token
          description: 'A token that can be used to retrieve the next page of results, if any.

            The token contains opaque pagination state.

            Filtering and sorting parameters must be provided with each request.'
        page_number:
          type:
          - integer
          - 'null'
          format: int32
          description: Pagination. Included if this was a GET (list) response
          example: '1'
          minimum: 0
        previous_page_token:
          oneOf:
          - type: 'null'
          - type: string
            format: byte
            description: Base64URL-encoded pagination token
          description: 'A token that can be used to retrieve the previous page of results, if any.

            The token contains opaque pagination state.

            Filtering and sorting parameters must be provided with each request.'
        request_id:
          type: string
          description: A unique ID for this request, generated upon ingestion of the request.
        total_items:
          type:
          - integer
          - 'null'
          format: int64
          description: Total number of items available (not just in this page).
          example: '42'
          minimum: 0
        total_pages:
          type:
          - integer
          - 'null'
          format: int32
          description: Total number of pages available.
          example: '5'
          minimum: 0
    PositionInstructionStatus:
      type: string
      description: "Lifecycle status of a position instruction.\n\n- `SENT`: accepted and submitted to the clearing venue.\n- `ACCEPTED`: terminal — accepted by the clearing venue.\n- `REJECTED`: terminal rejection; `rejection_reason` carries the\n  detail. Covers both venue-reported rejections and rejections\n  raised before the instruction reached the clearing venue (e.g.\n  duplicate `instruction_id`, `DO_NOT_EXERCISE` / `CONTRARY_EXERCISE`\n  submitted on a non-expiry day, insufficient position, or an\n  instrument that does not resolve).\n- `CANCEL_REQUESTED`: cancel accepted; final cancel state pending.\n- `CANCELLED`: terminal — cancel completed.\n- `CANCEL_FAILED`: cancel could not be completed; operator\n  attention required. `rejection_reason` carries the detail.\n- `UNKNOWN`: status could not be determined."
      enum:
      - SENT
      - ACCEPTED
      - REJECTED
      - CANCEL_REQUESTED
      - CANCELLED
      - CANCEL_FAILED
      - UNKNOWN
    Order:
      type: object
      description: 'A trading order with its current state and execution details.


        This is the unified API representation of an order across its lifecycle,

        combining data from execution reports, order status queries, and parent/child tracking.'
      required:
      - id
      - client_order_id
      - account_id
      - venue
      - side
      - quantity
      - order_type
      - time_in_force
      - status
      - filled_quantity
      - leaves_quantity
      - created_at
      - updated_at
      properties:
        account_id:
          $ref: '#/components/schemas/i64'
          description: Account placing the order
        average_fill_price:
          type:
          - string
          - 'null'
          description: 'Average fill price across all executions

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '47.95'
        client_order_id:
          type: string
          description: Client-provided identifier echoed back.
          example: my-ref-id-20251001-001
        created_at:
          type: string
          format: date-time
          description: Timestamp when order was created (UTC)
          example: 2025-10-31 13:30:00+00:00
        details:
          type: array
          items:
            type: string
          description: Contains execution, rejection or cancellation details, if any
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
          description: 'Timestamp when the order will expire (UTC). Present when time_in_force is GOOD_TILL_DATE.

            When a null/undefined value is observed, it indicates it does not apply.'
          example: 2025-10-15 16:00:00+00:00
        extended_hours:
          type:
          - boolean
          - 'null'
          description: Whether the order is eligible for extended-hours trading.
          example: true
        filled_quantity:
          type: string
          description: Cumulative filled quantity
          example: '50'
        id:
          type: string
          description: Engine-assigned unique identifier for this order (UUID).
          example: 0195f6c7-4f64-7e3c-8b0a-1d8e4f5e6a7b
        instrument_id:
          type:
          - string
          - 'null'
          format: uuid
          description: 'Instrument identifier for the traded instrument. `null` when the order has

            no single resolvable instrument.

            When a null/undefined value is observed, it indicates it does not apply.'
          example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        instrument_type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/SecurityType'
            description: 'Type of security. `null` when the order has no single resolvable instrument.

              When a null/undefined value is observed, it indicates it does not apply.'
        leaves_quantity:
          type: string
          description: Remaining unfilled quantity
          example: '50'
        limit_offset:
          type:
          - string
          - 'null'
          description: 'Limit offset for trailing stop-limit orders (signed)

            When a null/undefined value is observed, it indicates it does not apply.'
          example: '0.50'
        limit_price:
          type:
          - string
          - 'null'
          description: 'Limit price (for LIMIT and STOP_LIMIT orders)

            When a null/undefined value is observed, it indicates it does not apply.'
          example: '48.00'
        order_type:
          $ref: '#/components/schemas/OrderType'
          description: Type of order (MARKET, LIMIT, etc.)
        quantity:
          type: string
          description: Total order quantity
          example: '100'
        queue_state:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/QueueState'
            description: 'Parent order queue state, present when the order is awaiting release or released.

              When a null/undefined value is observed, it indicates it does not apply.'
        releases_at:
          type:
          - string
          - 'null'
          format: date-time
          description: 'Scheduled release time for orders awaiting release.

            When a null/undefined value is observed, it indicates it does not apply.'
          example: 2025-10-31 14:30:00+00:00
        side:
          $ref: '#/components/schemas/Side'
          description: Side of the order (BUY, SELL, SELL_SHORT)
        status:
          $ref: '#/components/schemas/OrderStatus'
          description: Current status of the order
        stop_price:
          type:
          - string
          - 'null'
          description: 'Stop price (for STOP and STOP_LIMIT orders)

            When a null/undefined value is observed, it indicates it does not apply.'
          example: '52.00'
        symbol:
          type:
          - string
          - 'null'
          description: 'Trading symbol. `null` when the order has no single resolvable instrument.

            When a null/undefined value is observed, it indicates it does not apply.'
          example: TSLA
        time_in_force:
          $ref: '#/components/schemas/TimeInForce'
          description: Time in force instruction
        trailing_limit_px:
          type:
          - string
          - 'null'
          description: 'Current trailing limit price computed by the trailing strategy

            When a null/undefined value is observed, it indicates it does not apply.'
          example: '47.50'
        trailing_offset:
          type:
          - string
          - 'null'
          description: 'Trailing offset amount for trailing orders

            When a null/undefined value is observed, it indicates it does not apply.'
          example: '2.00'
        trailing_offset_type:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/TrailingOffsetType'
            description: 'Trailing offset type for trailing orders

              When a null/undefined value is observed, it indicates it does not apply.'
        trailing_stop_px:
          type:
          - string
          - 'null'
          description: 'Current trailing stop price computed by the trailing strategy

            When a null/undefined value is observed, it indicates it does not apply.'
          example: '48.00'
        trailing_watermark_px:
          type:
          - string
          - 'null'
          description: 'Trailing watermark price for trailing orders

            When a null/undefined value is observed, it indicates it does not apply.'
          example: '50.00'
        trailing_watermark_ts:
          type:
          - string
          - 'null'
          format: date-time
          description: 'Trailing watermark timestamp for trailing orders

            When a null/undefined value is observed, it indicates it does not apply.'
          example: 2025-10-31 13:35:10+00:00
        underlying_instrument_id:
          type:
          - string
          - 'null'
          format: uuid
          description: 'Instrument ID of the option''s underlying instrument. Populated only for

            options orders. A `null` means one of two things: the order is not an

            option, so the field does not apply; or the order is an option whose

            underlier has not yet been resolved.

            When a null/undefined value is observed, it indicates it does not apply.'
          example: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
        updated_at:
          type: string
          format: date-time
          description: Timestamp of the most recent update (UTC)
          example: 2025-10-31 13:35:10+00:00
        venue:
          type: string
          description: MIC code of the venue where the order is routed
          example: XNAS
      example:
        account_id: 19816
        client_order_id: my-ref-id-20251001-001
        created_at: 2025-10-31 13:30:00+00:00
        extended_hours: false
        filled_quantity: '0'
        id: 0195f6c7-4f64-7e3c-8b0a-1d8e4f5e6a7b
        instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
        instrument_type: COMMON_STOCK
        leaves_quantity: '1'
        limit_price: '48.00'
        order_type: LIMIT
        quantity: '1'
        side: BUY
        status: PENDING_NEW
        stop_price: null
        symbol: TSLA
        time_in_force: DAY
        updated_at: 2025-10-31 13:30:00+00:00
        venue: XNAS
    Side:
      type: string
      description: Side of an order
      enum:
      - BUY
      - SELL
      - SELL_SHORT
      - OTHER
    Position_2:
      type: object
      description: Represents a holding of a particular instrument in an account
      required:
      - account_id
      - instrument_id
      - symbol
      - instrument_type
      - quantity
      - market_value
      - position_type
      - available_quantity
      properties:
        account_id:
          type: integer
          format: int64
          description: The account this position belongs to
          example: 19816
        available_quantity:
          type: string
          description: The quantity of a position that is free to be operated on.
          example: '100'
        avg_price:
          type:
          - string
          - 'null'
          description: 'The average price paid per share or contract for this position

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '145.00'
        closing_price:
          type:
          - string
          - 'null'
          description: 'The closing price used to value the position for the last trading day

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '150.50'
        closing_price_date:
          type:
          - string
          - 'null'
          format: date
          description: 'The market date associated with `closing_price`

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: 2026-01-15
        cost_basis:
          type:
          - string
          - 'null'
          description: 'The total cost basis for this position

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '14500.00'
        daily_realized_pnl:
          type:
          - string
          - 'null'
          description: 'The realized profit or loss for this position for the current day

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '700.00'
        daily_unrealized_pnl:
          type:
          - string
          - 'null'
          description: 'The unrealized profit or loss for this position relative to the previous close

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '550.00'
        daily_unrealized_pnl_pct:
          type:
          - string
          - 'null'
          description: 'The unrealized profit/loss for the position for the current day, expressed as a percentage of the baseline value (range: 0-100).

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '3.65'
        instrument_id:
          type: string
          format: uuid
          description: Unique instrument identifier
          example: f47ac10b-58cc-4372-a567-0e02b2c3d479
        instrument_price:
          type:
          - string
          - 'null'
          description: 'The current market price of the instrument

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '151.00'
        instrument_type:
          $ref: '#/components/schemas/SecurityType'
          description: Type of security
        market_value:
          type: string
          description: The current market value of the position
          example: '15050.00'
        position_type:
          $ref: '#/components/schemas/PositionType'
          description: The type of position
        quantity:
          type: string
          description: The number of shares or contracts. Can be positive (long) or negative (short)
          example: '100'
        symbol:
          type: string
          description: The trading symbol for the instrument
          example: AAPL
        underlying_instrument_id:
          type:
          - string
          - 'null'
          format: uuid
          description: 'Identifier of the underlying instrument, when available

            When a null/undefined value is observed, it indicates it does not apply.'
          example: b6f4b5e2-94a8-4fe4-9a85-2b4a81d30cc5
        unrealized_pnl:
          type:
          - string
          - 'null'
          description: 'The total unrealized profit or loss for this position based on current market value

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '550.00'
        unrealized_pnl_pct:
          type:
          - string
          - 'null'
          description: 'The unrealized profit/loss for the position, expressed as a percentage of the position''s cost basis (range: 0-100).

            When a null/undefined value is observed, it indicates that there is no available data.'
          example: '3.79'
      example:
        account_id: 19816
        avg_price: '145.00'
        closing_price: '150.50'
        closing_price_date: 2025-10-31
        cost_basis: '14500.00'
        daily_realized_pnl: '700.00'
        daily_unrealized_pnl: '550.00'
        daily_unrealized_pnl_pct: '3.65'
        instrument_id: f47ac10b-58cc-4372-a567-0e02b2c3d479
        instrument_price: '151.00'
        instrument_type: COMMON_STOCK
        market_value: '15050.00'
        position_type: LONG
        quantity: '100'
        symbol: AAPL
        unrealized_pnl: '550.00'
        unrealized_pnl_pct: '3.79'
    AccountId:
      type: string
      minLength: 1
      maxLength: 256
      example: '100000'
      description: Account ID for the account.
    PositionType:
      type: string
      description: Position type classification
      enum:
      - LONG
      - SHORT
    AccountNumber:
      type: string
      minLength: 1
      maxLength: 256
      example: ACC0001
      description: Account number for the account.
    Symbol:
      type: string
      minLength: 1
      maxLength: 32
      example: AAPL
    SecurityType:
      type: string
      description: Security type
      enum:
      - COMMON_STOCK
      - INDEX
      - OPTION
      - CASH
    TimeInForce:
      type: string
      description: Time in force
      enum:
      - DAY
      - GOOD_TILL_CANCEL
      - IMMEDIATE_OR_CANCEL
      - FILL_OR_KILL
      - GOOD_TILL_DATE
      - AT_THE_OPENING
      - AT_THE_CLOSE
      - GOOD_TILL_CROSSING
      - GOOD_THROUGH_CROSSING
      - AT_CROSSING
      - OTHER
    Quantity:
      type: string
      minLength: 1
      maxLength: 16
      example: '100'
      description: String representation of quantity.
    ApiError:
      type: object
      description: A direct mapping of tonic::Status, for use in HTTP responses.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
          description: 'The error code is used to identify the nature of the error. It corresponds

            to an HTTP status code.'
          example: 400
          minimum: 0
        details:
          $ref: '#/components/schemas/ErrorDetails'
          description: 'Additional error details, if any. This can include structured information

            such as field violations or error metadata.'
        message:
          type: string
          description: A human-readable message providing more details about the error.
          example: Order quantity must be greater than zero
    ClosePositionRequest:
      type: object
      properties:
        cancel_orders:
          type:
          - boolean
          - 'null'
          description: Whether to cancel existing open orders for the position before submitting closing orders.
          example: false
      example:
        cancel_orders: false
    PositionInstructionType:
      type: string
      description: The action to take against an options position.
      enum:
      - EXERCISE
      - DO_NOT_EXERCISE
      - CONTRARY_EXERCISE
    OrderList:
      type: array
      items:
        $ref: '#/components/schemas/Order'
    i64:
      type: integer
      format: int64
    PositionInstructionSubmissionRequest:
      type: object
      description: 'A position instruction to submit.


        Use `DELETE /accounts/{account_id}/positions/instructions/{instruction_id}`

        to cancel an outstanding instruction.'
      required:
      - instruction_type
      - instrument_id
      - quantity
      properties:
        instruction_id:
          type:
          - string
          - 'null'
          description: 'Caller-supplied idempotency key. Echoed on the response. The server

            generates a unique id when omitted.'
          example: ui-20260424-001
        instruction_type:
          $ref: '#/components/schemas/PositionInstructionType'
          description: The action to take.
        instrument_id:
          type: string
          format: uuid
          description: Identifier of the options contract to act on. Unknown ids return 404.
        quantity:
          type: string
          description: Number of contracts to include in the instruction.
          example: '1'
      example:
        instruction_id: ui-20260424-001
        instruction_type: EXERCISE
        instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e02
        quantity: '1'
    OrderType:
      type: string
      description: Order type
      enum:
      - MARKET
      - LIMIT
      - STOP
      - STOP_LIMIT
      - TRAILING_STOP
      - TRAILING_STOP_LIMIT
      - OTHER
    InstrumentIdOrSymbol:
      type: string
      description: 'Instrument identifier: either an instrument UUID or a symbol (symbol for equities, OSI for options). Non-UUID inputs are resolved server-side.'
      minLength: 1
    BaseResponse:
      type: object
      required:
      - metadata
      properties:
        error:
          oneOf:
          - oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ApiError'
              description: Structured error details when the request is unsuccessful.
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
          description: Response metadata, including the request ID and optional pagination info.
    QueueState:
      type: string
      description: Parent order queue or hold state.
      enum:
      - AWAITING_RELEASE
      - RELEASED
    PositionInstruction:
      type: object
      description: A position instruction and its current lifecycle state.
      required:
      - id
      - instruction_id
      - account_id
      - instruction_type
      - instrument_id
      - symbol
      - quantity
      - status
      properties:
        accepted_quantity:
          type:
          - string
          - 'null'
          description: 'Number of contracts accepted by the clearing venue. Populated once

            the instruction reaches `ACCEPTED`.

            When a null/undefined value is observed, it indicates that there is no available data.'
        account_id:
          $ref: '#/components/schemas/i64'
          description: Account the instruction belongs to.
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          description: 'When the instruction was first accepted by the service.

            When a null/undefined value is observed, it indicates that there is no available data.'
        id:
          type: string
          format: uuid
          description: Server-assigned id. Used as the path parameter on cancel.
        instruction_id:
          type: string
          description: 'Caller-supplied idempotency key echoed from the submit request; the

            server-assigned fallback when none was supplied.'
        instruction_type:
          $ref: '#/components/schemas/PositionInstructionType'
          description: The action this instruction requests.
        instrument_id:
          type: string
          format: uuid
          description: Identifier of the options contract this instruction acts on.
        quantity:
          type: string
          description: Number of contracts included in the instruction.
          example: '1'
        rejection_reason:
          type:
          - string
          - 'null'
          description: 'Human-readable explanation populated on any non-success terminal

            status — `REJECTED` or `CANCEL_FAILED`. On a

            `207 Multi-Status` batch submit the top-level `error` field

            summarizes the batch; per-row detail continues to live here.

            When a null/undefined value is observed, it indicates it does not apply.'
        status:
          $ref: '#/components/schemas/PositionInstructionStatus'
          description: Current lifecycle status.
        symbol:
          type: string
          description: Options symbol (OSI) for display.
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: 'When the instruction''s lifecycle state last changed.

            When a null/undefined value is observed, it indicates that there is no available data.'
      example:
        accepted_quantity: null
        account_id: 122503
        created_at: 2026-04-24 14:30:00+00:00
        id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e02
        instruction_id: ui-20260424-001
        instruction_type: EXERCISE
        instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e02
        quantity: '1'
        rejection_reason: null
        status: SENT
        symbol: AAPL  280121C00195000
        updated_at: 2026-04-24 14:30:00+00:00
    OrderStatus:
      type: string
      description: Order status
      enum:
      - PENDING_NEW
      - NEW
      - PARTIALLY_FILLED
      - FILLED
      - CANCELED
      - REJECTED
      - EXPIRED
      - PENDING_CANCEL
      - PENDING_REPLACE
      - REPLACED
      - DONE_FOR_DAY
      - STOPPED
      - SUSPENDED
      - CALCULATED
      - OTHER
    Position:
      type: object
      properties:
        account_id:
          $ref: '#/components/schemas/AccountId'
        account_number:
          $ref: '#/components/schemas/AccountNumber'
        symbol:
          $ref: '#/components/schemas/Symbol'
        quantity:
          $ref: '#/components/schemas/Quantity'
        average_cost:
          type: number
          format: double
          description: The average cost of the position.
      required:
      - account_id
      - account_number
      - symbol
      - quantity
      - average_cost
    PositionInstructionList:
      type: array
      items:
        $ref: '#/components/schemas/PositionInstruction'
    PositionList:
      type: array
      items:
        $ref: '#/components/schemas/Position_2'
    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: number
          minimum: 100
          maximum: 599
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          format: uri
          description: An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.
      additionalProperties: false
      description: A Problem Details object (RFC 9457)
    ErrorDetails:
      type: array
      items:
        type: object
        additionalProperties: true
  responses:
    error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  url: https://docs.clearstreet.io/
x-refined-from:
- clear-street-studio-openapi.yml
- clear-street-trading-api-openapi.yml
