# yamllint disable rule:line-length
---
openapi: 3.1.0
info:
  title: Clear Street Trading API
  description: |-
    A unified, secure, and high-performance RESTful API for all client interactions with the Active trading platform.
    This specification provides a single source of truth for the API surface, covering order management, trade execution, market data, and account services.

    ### Authentication
    All endpoints require authentication via a JWT Bearer token provided in the `Authorization` header.

    ### Response Structure
    All responses, both for success and error, adhere to a standard envelope structure:
    - `data`: Contains the response payload on success, or `null` on error.
    - `error`: Contains a structured error object on failure, or `null` on success.
    - `metadata`: Contains the `request_id` and pagination information.

    ### WebSockets
    Real-time market data is available via WebSocket connections, which are not formally described in this OpenAPI specification. The following operations are available:
    - `market-data-l1-subscribe`: To start receiving L1 market data updates for a set of symbols.
    - `market-data-l1-unsubscribe`: To stop receiving L1 market data updates.
  contact:
    name: Clear Street API Support
    url: https://clearstreet.io/contact
    email: concierge@clearstreet.com
  license:
    name: Proprietary
    url: https://clearstreet.io/terms
  version: 2025-10-31
servers:
  - url: https://api.clearstreet.com
    description: Clear Street API
  - url: https://api-dev.clearstreet.com
    description: Clear Street Development API
  - url: http://localhost:5001
    description: Clear Street Local API
paths:
  /v1/accounts:
    get:
      tags:
        - Accounts
      summary: Get Accounts
      description: |-
        List accounts the authenticated user has permission to access.

        Results can be narrowed with the optional `account_id` and `account_name`
        filters. `account_id` is a lexicographic prefix match on the decimal account
        id (e.g. `100` matches `100345` and `100567`); `account_name` is a
        case-insensitive substring match on the account's full name. When both are
        supplied an account must match both. When neither is supplied every
        accessible account is returned.
      operationId: get_accounts
      parameters:
        - name: page_size
          in: query
          description: The number of items to return per page. Only used when page_token is not provided.
          required: false
          schema:
            type: integer
            format: int64
            default: 1000
            maximum: 1000
            minimum: 1
        - name: page_token
          in: query
          description: Token for retrieving the next or previous page of results. Contains encoded pagination state; when provided, page_size is ignored.
          required: false
          schema:
            type: string
            format: byte
            description: Base64URL-encoded pagination token
          example: eyJvZmZzZXQiOjEwMCwibGltaXQiOjEwMH0=
        - name: account_id
          in: query
          description: Filter to accounts whose id starts with this value (lexicographic prefix match on the decimal id, e.g. `100` matches `100345`).
          required: false
          schema:
            type: string
        - name: account_name
          in: query
          description: Filter to accounts whose full name contains this value (case-insensitive substring match).
          required: false
          schema:
            type: string
      responses:
        "200":
          description: List of accounts
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/AccountList"
                type: object
              examples:
                ActiveAndInactiveAccounts:
                  summary: A mix of active and closed accounts
                  value:
                    data:
                      - account_holder_entity_id: 987654321
                        close_date: null
                        full_name: Test Trading Account
                        id: 19816
                        open_date: 2023-01-15
                        options_level: 1
                        short_name: TST-ACCOUNT-01
                        status: ACTIVE
                        subtype: MARGIN
                        type: CUSTOMER
                      - account_holder_entity_id: 987654322
                        close_date: 2024-08-01
                        full_name: Old Test Account
                        id: 19817
                        open_date: 2021-05-20
                        options_level: 0
                        short_name: TST-ACCOUNT-02-CLOSED
                        status: CLOSED
                        subtype: CASH
                        type: CUSTOMER
                    error: null
                    metadata:
                      next_page_token: cGFnZT0yJmxhc3RfaWQ9MTk4MTc=
                      page_number: 1
                      request_id: a1b2c3d4-e5f6-7890-1234-567890abcdef
                      total_items: 25
                      total_pages: 3
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/accounts/{account_id}:
    get:
      tags:
        - Accounts
      summary: Get Account By ID
      description: |-
        Fetch account details by ID, including the mailing address, date of
        birth, phone number, and country of tax residency of the account-holder
        entity when on file.
      operationId: get_account_by_id
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/AccountWithPersonalDetails"
                type: object
              examples:
                ActiveAccount:
                  summary: An active margin account
                  value:
                    data:
                      account_holder_entity_id: 987654321
                      close_date: null
                      country_of_tax_residency: US
                      date_of_birth: 1985-03-15
                      full_name: Test Trading Account
                      id: 19816
                      mailing_address:
                        city: New York
                        country: USA
                        line1: 4 World Trade Center
                        line2: 150 Greenwich Street, Floor 45
                        postal_code: "10007"
                        state: NY
                      open_date: 2023-01-15
                      options_level: 1
                      phone_number: "+12125550123"
                      short_name: TST-ACCOUNT-01
                      status: ACTIVE
                      subtype: MARGIN
                      type: CUSTOMER
                    error: null
                    metadata:
                      request_id: b7e2d3f4-a1b2-4c3d-8e4f-5a6b7c8d9e0f
                ClosedAccount:
                  summary: A closed cash account with no entity details on file
                  value:
                    data:
                      account_holder_entity_id: 987654322
                      close_date: 2024-08-01
                      country_of_tax_residency: null
                      date_of_birth: null
                      full_name: Old Test Account
                      id: 19817
                      mailing_address: null
                      open_date: 2021-05-20
                      options_level: 0
                      phone_number: null
                      short_name: TST-ACCOUNT-02-CLOSED
                      status: CLOSED
                      subtype: CASH
                      type: CUSTOMER
                    error: null
                    metadata:
                      request_id: c8f3e4a5-b2c3-5d4e-9f0a-6b7c8d9e0f1a
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                AccountNotFound:
                  summary: Requested account does not exist
                  value:
                    error:
                      code: 404
                      message: Some requested entity was not found
                    metadata:
                      request_id: 67e95eb4-93b9-4010-8c9b-7ada7c2be93f
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
    patch:
      tags:
        - Accounts
      summary: Patch Account By ID
      description: Update account risk settings
      operationId: patch_account_by_id
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountSettingsRequest"
        required: true
      responses:
        "200":
          description: Account updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/AccountSettings"
                type: object
              examples:
                UpdatedAccountSettings:
                  summary: Account with updated settings applied
                  value:
                    data:
                      risk:
                        max_notional: "5000000.00"
                    error: null
                    metadata:
                      request_id: c8f3e4a5-b2c3-5d4e-9f0a-6b7c8d9e0f1a
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                MalformedJsonSyntax:
                  summary: Malformed JSON in request body
                  value:
                    error:
                      code: 400
                      message: "Failed to parse the request body as JSON: EOF while parsing an object at line 5 column 3"
                    metadata:
                      request_id: 5805829b-238e-4669-846b-d768bc5d279c
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                AccountNotFound:
                  summary: Requested account does not exist
                  value:
                    error:
                      code: 404
                      message: Some requested entity was not found
                    metadata:
                      request_id: 67e95eb4-93b9-4010-8c9b-7ada7c2be93f
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/accounts/{account_id}/balances:
    get:
      tags:
        - Accounts
      summary: Get Account Balances
      description: Fetch account balance information
      operationId: get_account_balances
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: top_margin_contributors_limit
          in: query
          description: Limit the number of top margin contributors returned.
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
          example: 10
      responses:
        "200":
          description: Account balance information
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/AccountBalances"
                type: object
              examples:
                CashAccountBalances:
                  summary: Balances for a cash account
                  value:
                    data:
                      account_id: 19816
                      buying_power: "45000.00"
                      currency: USD
                      daily_change: "0.00"
                      daily_pnl: "1250.00"
                      daily_realized_pnl: "700.00"
                      daily_total_pnl: "1250.00"
                      daily_unrealized_pnl: "550.00"
                      equity: "100000.00"
                      long_market_value: "30000.00"
                      margin_type: NONE
                      open_order_adjustment: "-5000.00"
                      settled_cash: "60000.00"
                      sod:
                        asof: 2023-09-27
                        buying_power: "45000.00"
                        equity: "100000.00"
                        long_market_value: "30000.00"
                        short_market_value: "0.00"
                      trade_cash: "60000.00"
                      unrealized_pnl: "1500.00"
                      unsettled_credits: "20000.00"
                      unsettled_debits: "10000.00"
                      withdrawable_cash: "55000.00"
                    error: null
                    metadata:
                      request_id: b7e2d3f4-a1b2-4c3d-8e4f-5a6b7c8d9e0f
                MarginAccountBalances:
                  summary: Balances for a Reg T margin account
                  value:
                    data:
                      account_id: 19816
                      buying_power: "90000.00"
                      currency: USD
                      daily_change: "0.00"
                      daily_pnl: "1250.00"
                      daily_realized_pnl: "700.00"
                      daily_total_pnl: "1250.00"
                      daily_unrealized_pnl: "550.00"
                      equity: "100000.00"
                      long_market_value: "40000.00"
                      margin_details:
                        day_trade_buying_power_usage: "0.00"
                        day_trade_count: 2
                        initial_margin_excess: "50000.00"
                        initial_margin_requirement: "50000.00"
                        intraday_details:
                          buying_power: "90000.00"
                          multiplier: "2"
                        maintenance_margin_excess: "75000.00"
                        maintenance_margin_requirement: "25000.00"
                        overnight_details:
                          buying_power: "90000.00"
                          multiplier: "2"
                        pattern_day_trader: false
                        top_contributors:
                          - initial_margin_requirement: "25000.00"
                            maintenance_margin_requirement: "15000.00"
                            market_value: "50000.00"
                            underlying_instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
                        usage:
                          total: "100000.00"
                          used: "5000.00"
                      margin_type: REG_T
                      multiplier: "2"
                      open_order_adjustment: "-10000.00"
                      settled_cash: "99775.05"
                      short_market_value: "10000.00"
                      sod:
                        asof: 2023-09-27
                        buying_power: "90000.00"
                        day_trade_buying_power: "200000.00"
                        equity: "100000.00"
                        long_market_value: "40000.00"
                        maintenance_margin_excess: "50000.00"
                        maintenance_margin_requirement: "50000.00"
                        short_market_value: "10000.00"
                        trade_cash: "70000.00"
                      trade_cash: "70000.00"
                      unrealized_pnl: "1500.00"
                      unsettled_credits: "20000.00"
                      unsettled_debits: "10000.00"
                      withdrawable_cash: "75000.00"
                    error: null
                    metadata:
                      request_id: b7e2d3f4-a1b2-4c3d-8e4f-5a6b7c8d9e0f
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                AccountNotFound:
                  summary: Requested account does not exist
                  value:
                    error:
                      code: 404
                      message: Some requested entity was not found
                    metadata:
                      request_id: 67e95eb4-93b9-4010-8c9b-7ada7c2be93f
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/accounts/{account_id}/executions:
    get:
      tags:
        - Orders
      summary: Get Executions
      description: |-
        Retrieves filled and partially-filled execution reports for the specified
        trading account, ordered by transaction time (nanosecond precision) descending.
      operationId: get_executions
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: instrument_ids
          in: query
          description: Comma-separated instrument identifiers (UUIDs) or symbols (e.g. `AAPL`) to filter by. When provided, only executions for any of the listed instruments are returned.
          required: false
          schema:
            type: array
            items:
              type: string
              description: "Instrument identifier: either an instrument UUID or a symbol (symbol for equities, OSI for options). Non-UUID inputs are resolved server-side."
              minLength: 1
          style: form
          explode: false
        - name: page_size
          in: query
          description: The number of items to return per page. Only used when page_token is not provided.
          required: false
          schema:
            type: integer
            format: int64
            default: 1000
            maximum: 1000
            minimum: 1
        - name: page_token
          in: query
          description: Token for retrieving the next or previous page of results. Contains encoded pagination state; when provided, page_size is ignored.
          required: false
          schema:
            type: string
            format: byte
            description: Base64URL-encoded pagination token
          example: eyJvZmZzZXQiOjEwMCwibGltaXQiOjEwMH0=
        - name: from
          in: query
          description: The start date and time for the query range, inclusive (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
          example: 2025-04-24T14:30:00.000000000Z
        - name: to
          in: query
          description: The end date and time for the query range, inclusive (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
          example: 2025-04-24T18:30:00.000000000Z
      responses:
        "200":
          description: List of executions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/ExecutionList"
                type: object
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/accounts/{account_id}/orders:
    get:
      tags:
        - Orders
      summary: Get Orders
      description: List orders for an account with optional filtering
      operationId: get_orders
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: page_size
          in: query
          description: The number of items to return per page. Only used when page_token is not provided.
          required: false
          schema:
            type: integer
            format: int64
            default: 1000
            maximum: 1000
            minimum: 1
        - name: page_token
          in: query
          description: Token for retrieving the next or previous page of results. Contains encoded pagination state; when provided, page_size is ignored.
          required: false
          schema:
            type: string
            format: byte
            description: Base64URL-encoded pagination token
          example: eyJvZmZzZXQiOjEwMCwibGltaXQiOjEwMH0=
        - name: order_ids
          in: query
          description: Comma-separated order IDs to filter by. When provided, only orders whose order ID is in this set are returned.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
        - name: status
          in: query
          description: Comma-separated order statuses to filter by
          required: false
          schema:
            type: array
            items:
              type: string
              description: Order status
              enum:
                - PENDING_NEW
                - NEW
                - PARTIALLY_FILLED
                - FILLED
                - CANCELED
                - REJECTED
                - EXPIRED
                - PENDING_CANCEL
                - PENDING_REPLACE
                - REPLACED
                - DONE_FOR_DAY
                - STOPPED
                - SUSPENDED
                - CALCULATED
                - OTHER
          style: form
          explode: false
        - name: symbol
          in: query
          description: Filter by symbol
          required: false
          schema:
            type: string
        - name: instrument_ids
          in: query
          description: Comma-separated instrument IDs (UUID) or symbols (equity tickers or OSI option symbols).
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/InstrumentIdOrSymbol"
          style: form
          explode: false
        - name: instrument_type
          in: query
          description: Instrument type filter (e.g., COMMON_STOCK, OPTION)
          required: false
          schema:
            type: string
            description: Security type
            enum:
              - COMMON_STOCK
              - INDEX
              - OPTION
              - CASH
        - name: underlying_instrument_ids
          in: query
          description: Comma-separated instrument IDs (UUID) or symbols (equity tickers or OSI option symbols). Matches options orders whose resolved underlier is any of the given instruments.
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/InstrumentIdOrSymbol"
          style: form
          explode: false
        - name: from
          in: query
          description: The start date and time for the query range, inclusive (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
          example: 2025-04-24T14:30:00.000000000Z
        - name: to
          in: query
          description: The end date and time for the query range, inclusive (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
          example: 2025-04-24T18:30:00.000000000Z
      responses:
        "200":
          description: List of orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/OrderList"
                type: object
              examples:
                ListOfOrders:
                  summary: A list of orders with various statuses
                  value:
                    data:
                      - account_id: 19816
                        average_fill_price: "47.95"
                        client_order_id: my-ref-id-20251001-001
                        created_at: 2025-10-31T13:30:00.000000000Z
                        filled_quantity: "5"
                        id: 0195f6c7-4f64-7e3c-8b0a-1d8e4f5e6a7b
                        instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                        instrument_type: COMMON_STOCK
                        leaves_quantity: "5"
                        limit_price: "48.00"
                        order_type: LIMIT
                        quantity: "10"
                        side: BUY
                        status: PARTIALLY_FILLED
                        stop_price: null
                        symbol: TSLA
                        time_in_force: DAY
                        updated_at: 2025-10-31T13:35:10.000000000Z
                        venue: XNAS
                      - account_id: 19816
                        average_fill_price: "50.03"
                        client_order_id: my-ref-id-20251001-002
                        created_at: 2025-10-31T14:00:00.000000000Z
                        filled_quantity: "10"
                        id: 0195f6c8-1a2b-7c3d-8e4f-5a6b7c8d9e0f
                        instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                        instrument_type: COMMON_STOCK
                        leaves_quantity: "0"
                        limit_price: null
                        order_type: MARKET
                        quantity: "10"
                        side: SELL
                        status: FILLED
                        stop_price: null
                        symbol: TSLA
                        time_in_force: DAY
                        updated_at: 2025-10-31T14:00:05.000000000Z
                        venue: XNAS
                    error: null
                    metadata:
                      next_page_token: cGFnZT0yJmxhc3RfaWQ9b3JkXzRjRDVlNkY3ZzhIOWkwSjE=
                      page_number: 1
                      request_id: d9a4f5b6-c3d4-6e5f-0a1b-7c8d9e0f1a2b
                      total_items: 25
                      total_pages: 3
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
    post:
      tags:
        - Orders
      summary: Submit Orders
      description: Submit new orders
      operationId: submit_orders
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/OrderSubmissionRequest"
            examples:
              LimitBuy:
                summary: Limit buy order
                value:
                  - limit_price: "48.00"
                    order_type: LIMIT
                    quantity: "1"
                    side: BUY
                    symbol: TSLA
                    time_in_force: DAY
              MarketBuy:
                summary: Market buy order
                value:
                  - order_type: MARKET
                    quantity: "1"
                    side: BUY
                    symbol: TSLA
                    time_in_force: DAY
              StopBuy:
                summary: Stop (market) buy order
                value:
                  - order_type: STOP
                    quantity: "1"
                    side: BUY
                    stop_price: "52.00"
                    symbol: TSLA
                    time_in_force: DAY
              StopLimitBuy:
                summary: Stop-limit buy order
                value:
                  - limit_price: "52.50"
                    order_type: STOP_LIMIT
                    quantity: "1"
                    side: BUY
                    stop_price: "52.00"
                    symbol: TSLA
                    time_in_force: DAY
              TrailingStopBps:
                summary: Trailing stop order with basis-point offset
                value:
                  - order_type: TRAILING_STOP
                    quantity: "1"
                    side: BUY
                    symbol: TSLA
                    time_in_force: DAY
                    trailing_offset: "115"
                    trailing_offset_type: BPS
              TrailingStopLimitWithLimitOffset:
                summary: Trailing stop-limit order with a limit offset
                value:
                  - limit_offset: "0.50"
                    order_type: TRAILING_STOP_LIMIT
                    quantity: "1"
                    side: BUY
                    symbol: TSLA
                    time_in_force: DAY
                    trailing_offset: "2.00"
                    trailing_offset_type: PRICE
              TrailingStopPrice:
                summary: Trailing stop order with absolute price offset
                value:
                  - order_type: TRAILING_STOP
                    quantity: "1"
                    side: BUY
                    symbol: TSLA
                    time_in_force: DAY
                    trailing_offset: "2.00"
                    trailing_offset_type: PRICE
        required: true
      responses:
        "200":
          description: Orders submitted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/OrderList"
                type: object
              examples:
                FullSuccess:
                  summary: Order accepted and pending
                  value:
                    data:
                      - account_id: 19816
                        client_order_id: my-ref-id-20251003-001
                        created_at: 2025-10-03T14:01:15.000000000Z
                        filled_quantity: "0"
                        id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                        instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                        instrument_type: COMMON_STOCK
                        leaves_quantity: "1"
                        order_type: MARKET
                        quantity: "1"
                        side: BUY
                        status: PENDING_NEW
                        symbol: TSLA
                        time_in_force: DAY
                        updated_at: 2025-10-03T14:01:15.000000000Z
                        venue: XNAS
                    error: null
                    metadata:
                      request_id: ea0b1c2d-3e4f-5a6b-7c8d-9e0f1a2b3c4d
        "400":
          description: Invalid order request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                MalformedJsonSyntax:
                  summary: Malformed JSON in request body
                  value:
                    error:
                      code: 400
                      message: "Failed to parse the request body as JSON: [0].?: expected `,` or `}` at line 11 column 3"
                    metadata:
                      request_id: 8cb2657f-828e-4af5-b7d0-5cc6b7354bc2
                NoBuyingPower:
                  summary: Order rejected due to insufficient buying power
                  value:
                    error:
                      code: 400
                      details:
                        - description: "Buying Power: required > available"
                          subject: order:019dba52-6611-7b53-9bc9-18c410e5ebb8
                          type: BUYING_POWER
                        - domain: com.clearstreet.oems.risk
                          metadata:
                            account_id: "100001"
                            account_type: margin_reg_t
                            available: "11004.5000"
                            multiplier: "2"
                            order_id: 019dba52-6611-7b53-9bc9-18c410e5ebb8
                            required_equity: "30000"
                            required_options: "0"
                            required_total: "30000"
                            side: Buy
                            symbol: AAPL
                          reason: BUYING_POWER
                      message: Risk check failed
                    metadata:
                      request_id: 00bf689a-f53d-47b7-8b73-f0e69d2e89b6
                RiskCheckSelfMatch:
                  summary: Order rejected due to self-match risk check
                  value:
                    error:
                      code: 400
                      details:
                        - description: "Self-Match: would cross own orders"
                          subject: order:019dba51-a906-7133-aacc-ea4fc05058d8
                          type: SELF_MATCH
                        - domain: com.clearstreet.oems.risk
                          metadata:
                            account_id: "100001"
                            order_id: 019dba51-a906-7133-aacc-ea4fc05058d8
                            price: $200
                            side: Sell
                            symbol: AAPL
                          reason: SELF_MATCH
                      message: Risk check failed
                    metadata:
                      request_id: 21b77c52-2386-40a4-8955-8fa1127ff424
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "422":
          description: Malformed order request payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                PayloadMissingRequiredField:
                  summary: Malformed order payload missing order_type
                  value:
                    error:
                      code: 422
                      message: "Failed to deserialize the JSON body into the target type: [0]: missing field `order_type` at line 26 column 1"
                    metadata:
                      request_id: 1b2c02c3-92a1-4432-8638-e71038c105c3
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
    delete:
      tags:
        - Orders
      summary: Cancel All Open Orders
      description: Cancel all orders for an account
      operationId: cancel_all_open_orders
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: side
          in: query
          description: Filter by order side (BUY or SELL)
          required: false
          schema:
            type: string
            description: Side of an order
            enum:
              - BUY
              - SELL
              - SELL_SHORT
              - OTHER
        - name: type
          in: query
          description: Filter by order type (e.g., MARKET, LIMIT)
          required: false
          schema:
            type: string
            description: Order type
            enum:
              - MARKET
              - LIMIT
              - STOP
              - STOP_LIMIT
              - TRAILING_STOP
              - TRAILING_STOP_LIMIT
              - OTHER
        - name: instrument_type
          in: query
          description: Filter by instrument type (e.g., COMMON_STOCK, OPTION)
          required: false
          schema:
            type: string
            description: Security type
            enum:
              - COMMON_STOCK
              - INDEX
              - OPTION
              - CASH
        - name: instrument_ids
          in: query
          description: Comma-separated instrument IDs (UUID) or symbols (equity tickers or OSI option symbols).
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/InstrumentIdOrSymbol"
          style: form
          explode: false
      responses:
        "200":
          description: Orders cancelled
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/OrderList"
                type: object
              examples:
                BulkCancelAccepted:
                  summary: Cancellation requests accepted for multiple orders
                  value:
                    data:
                      - account_id: 19816
                        average_fill_price: "47.95"
                        client_order_id: my-ref-id-20251031-001
                        created_at: 2025-10-31T13:30:00.000000000Z
                        filled_quantity: "5"
                        id: 019c0b48-b8fb-700d-8c5e-931d54555f54
                        instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                        instrument_type: COMMON_STOCK
                        leaves_quantity: "5"
                        limit_price: "48.00"
                        order_type: LIMIT
                        quantity: "10"
                        side: BUY
                        status: PENDING_CANCEL
                        stop_price: null
                        symbol: TSLA
                        time_in_force: DAY
                        updated_at: 2025-10-31T14:15:00.000000000Z
                        venue: XNAS
                      - account_id: 19816
                        client_order_id: my-ref-id-20251031-002
                        created_at: 2025-10-31T14:00:00.000000000Z
                        filled_quantity: "0"
                        id: 019c0b49-03af-70d1-8eeb-d69836c9840b
                        instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                        instrument_type: COMMON_STOCK
                        leaves_quantity: "5"
                        order_type: STOP
                        quantity: "5"
                        side: SELL
                        status: PENDING_CANCEL
                        stop_price: "47.00"
                        symbol: TSLA
                        time_in_force: DAY
                        updated_at: 2025-10-31T14:15:00.000000000Z
                        venue: XNAS
                    error: null
                    metadata:
                      request_id: fb1c2d3e-4f5a-6b7c-8d9e-0f1a2b3c4d5e
        "400":
          description: Invalid filter parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "404":
          description: No orders match the specified filters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                NoOrdersMatchFilters:
                  summary: No open orders matched the provided filters
                  value:
                    error:
                      code: 404
                      message: No orders match the specified filters
                    metadata:
                      request_id: 2f035fbb-68ba-42e9-8743-d3b21110b4c7
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/accounts/{account_id}/orders/{order_id}:
    get:
      tags:
        - Orders
      summary: Get Order By ID
      operationId: get_order_by_id
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: order_id
          in: path
          description: Order identifier
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/Order"
                type: object
              examples:
                PartiallyFilledLimitOrder:
                  summary: A partially filled limit order
                  value:
                    data:
                      account_id: 19816
                      average_fill_price: "47.95"
                      client_order_id: my-ref-id-20251001-001
                      created_at: 2025-10-31T13:30:00.000000000Z
                      filled_quantity: "5"
                      id: 0195f6c7-4f64-7e3c-8b0a-1d8e4f5e6a7b
                      instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                      instrument_type: COMMON_STOCK
                      leaves_quantity: "5"
                      limit_price: "48.00"
                      order_type: LIMIT
                      quantity: "10"
                      side: BUY
                      status: PARTIALLY_FILLED
                      stop_price: null
                      symbol: TSLA
                      time_in_force: DAY
                      updated_at: 2025-10-31T13:35:10.000000000Z
                      venue: XNAS
                    error: null
                    metadata:
                      request_id: 0c1d2e3f-4a5b-6c7d-8e9f-0a1b2c3d4e5f
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                OrderNotFoundById:
                  summary: Requested order was not found for the account
                  value:
                    error:
                      code: 404
                      message: Order 97dfdcfe503f425c8367ca10928e2499 not found for account 100001
                    metadata:
                      request_id: efbd46f4-4bfc-455b-bae0-ee13f84360ba
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
    delete:
      tags:
        - Orders
      summary: Cancel Open Order
      description: Cancel a specific order
      operationId: cancel_open_order
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: order_id
          in: path
          description: Order identifier
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/Order"
                type: object
              examples:
                CancelPending:
                  summary: Cancellation request acknowledged and pending
                  value:
                    data:
                      account_id: 19816
                      average_fill_price: "47.95"
                      client_order_id: my-ref-id-20251001-001
                      created_at: 2025-10-31T13:30:00.000000000Z
                      filled_quantity: "5"
                      id: d40a92e6-381f-4803-b292-56d350d9d54a
                      instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                      instrument_type: COMMON_STOCK
                      leaves_quantity: "5"
                      limit_price: "48.00"
                      order_type: LIMIT
                      quantity: "10"
                      side: BUY
                      status: PENDING_CANCEL
                      stop_price: null
                      symbol: TSLA
                      time_in_force: DAY
                      updated_at: 2025-10-31T14:15:00.000000000Z
                      venue: XNAS
                    error: null
                    metadata:
                      request_id: 2e3f4a5b-6c7d-8e9f-0a1b-2c3d4e5f6a7b
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                OrderNotFoundForCancel:
                  summary: Cancel target order was not found for the account
                  value:
                    error:
                      code: 404
                      message: Order d40a92e6-381f-4803-b292-56d350d9d54a not found for account 100001
                    metadata:
                      request_id: 70151ee4-5209-4c75-9372-dffc0a6ebade
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
    patch:
      tags:
        - Orders
      summary: Replace Order
      description: Replace an order with new parameters
      operationId: replace_order
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: order_id
          in: path
          description: Order identifier
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplaceOrderRequest"
        required: true
      responses:
        "200":
          description: Order replaced successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/Order"
                type: object
              examples:
                ReplacePending:
                  summary: Replacement order acknowledged and pending
                  value:
                    data:
                      account_id: 19816
                      client_order_id: my-ref-id-20251001-001
                      created_at: 2025-10-31T13:30:00.000000000Z
                      filled_quantity: "0"
                      id: 0195f6c7-4f64-7e3c-8b0a-1d8e4f5e6a7b
                      instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                      instrument_type: COMMON_STOCK
                      leaves_quantity: "10"
                      limit_price: "49.00"
                      order_type: LIMIT
                      quantity: "10"
                      side: BUY
                      status: PENDING_REPLACE
                      stop_price: null
                      symbol: TSLA
                      time_in_force: DAY
                      updated_at: 2025-10-31T14:10:00.000000000Z
                      venue: XNAS
                    error: null
                    metadata:
                      request_id: 1d2e3f4a-5b6c-7d8e-9f0a-1b2c3d4e5f6a
        "400":
          description: Invalid replacement request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                MalformedJsonSyntax:
                  summary: Malformed JSON in request body
                  value:
                    error:
                      code: 400
                      message: "Failed to parse the request body as JSON: expected `:` at line 2 column 14"
                    metadata:
                      request_id: 633c15ef-d2e7-4f27-b905-2819455248bb
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                OrderNotFoundForReplacement:
                  summary: Replacement target order was not found for the account
                  value:
                    error:
                      code: 404
                      message: Order 019c7b89-feea-7600-9e56-f15ef0557835 not found for account 100001
                    metadata:
                      request_id: 9e290ec2-378f-4d08-a729-0a9ab155acbf
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/accounts/{account_id}/portfolio-history:
    get:
      tags:
        - Accounts
      summary: Get Portfolio History
      description: Retrieves daily portfolio history for the specified account.
      operationId: get_portfolio_history
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            type: integer
            format: int64
        - name: start_date
          in: query
          description: Start date for the portfolio history range, in YYYY-MM-DD format.
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Defaults to today in America/New_York when omitted.
          required: false
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Portfolio history
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PortfolioHistoryResponse"
                type: object
              examples:
                PortfolioHistoryWithItems:
                  summary: Portfolio history with segments
                  value:
                    data:
                      segments:
                        - bought_notional: "39800.00"
                          date: 2026-04-15
                          day_pnl: "850.25"
                          eod_equity: "100850.25"
                          net_pnl: "850.25"
                          position_pnl: "-350.25"
                          realized_pnl: "1200.50"
                          sod_equity: "100000.00"
                          sold_notional: "42500.00"
                          unrealized_pnl: "-350.25"
                    error: null
                    metadata:
                      request_id: f076d6f6-10c9-42a0-98c5-18cebc427e80
        "207":
          description: "Partial success: some data is available but the full request could not be completed"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PortfolioHistoryResponse"
                type: object
              examples:
                HistoryFailedIntradayOk:
                  summary: Historical fetch failed but intraday segment is available
                  value:
                    data:
                      segments:
                        - bought_notional: null
                          date: 2026-05-12
                          day_pnl: null
                          eod_equity: "100009.00"
                          net_pnl: null
                          position_pnl: null
                          realized_pnl: "12.00"
                          sod_equity: "100000.00"
                          sold_notional: null
                          unrealized_pnl: "-3.00"
                    error:
                      code: 500
                      message: historical data temporarily unavailable
                    metadata:
                      request_id: 2f3d7b0a-1111-4a4b-9e1f-8c4e5d3a9f12
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/accounts/{account_id}/positions:
    get:
      tags:
        - Positions
      summary: Get Positions
      description: Retrieves all positions for the specified trading account.
      operationId: get_positions
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: page_size
          in: query
          description: The number of items to return per page. Only used when page_token is not provided.
          required: false
          schema:
            type: integer
            format: int64
            default: 1000
            maximum: 1000
            minimum: 1
        - name: page_token
          in: query
          description: Token for retrieving the next or previous page of results. Contains encoded pagination state; when provided, page_size is ignored.
          required: false
          schema:
            type: string
            format: byte
            description: Base64URL-encoded pagination token
          example: eyJvZmZzZXQiOjEwMCwibGltaXQiOjEwMH0=
        - name: instrument_ids
          in: query
          description: Comma-separated instrument identifiers
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: false
        - name: sort_by
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
            enum:
              - SYMBOL
              - INSTRUMENT_TYPE
              - QUANTITY
              - MARKET_VALUE
              - POSITION_TYPE
              - UNREALIZED_PNL
              - DAILY_UNREALIZED_PNL
              - DAILY_REALIZED_PNL
        - name: sort_direction
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            description: Sort direction sorted results
            enum:
              - ASC
              - DESC
      responses:
        "200":
          description: List of positions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionList"
                type: object
              examples:
                LongAndShortPositions:
                  summary: A list containing long equity, short equity, and long call option positions with all fields populated
                  value:
                    data:
                      - account_id: 19816
                        available_quantity: "100"
                        avg_price: "145.00"
                        closing_price: "150.50"
                        closing_price_date: 2025-10-31
                        cost_basis: "14500.00"
                        daily_realized_pnl: "700.00"
                        instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
                        instrument_price: "151.00"
                        instrument_type: COMMON_STOCK
                        market_value: "15050.00"
                        position_type: LONG
                        quantity: "100"
                        symbol: AAPL
                        unrealized_pnl: "550.00"
                      - account_id: 19816
                        available_quantity: "100"
                        avg_price: "180.00"
                        closing_price: "180.00"
                        closing_price_date: 2025-10-30
                        cost_basis: "-9000.00"
                        daily_realized_pnl: "25.00"
                        instrument_id: d4d5d6d7-e4e5-f4f5-a4a5-a6a7a8a9aaab
                        instrument_price: "178.50"
                        instrument_type: COMMON_STOCK
                        market_value: "-9000.00"
                        position_type: SHORT
                        quantity: "-50"
                        symbol: TSLA
                        unrealized_pnl: "75.00"
                      - account_id: 19816
                        available_quantity: "100"
                        avg_price: "2.50"
                        closing_price: "2.70"
                        closing_price_date: 2025-10-30
                        cost_basis: "2500.00"
                        daily_realized_pnl: "10.00"
                        instrument_id: e5e6e7e8-f5f6-a5a6-b5b6-b7b8b9babcbe
                        instrument_price: "2.72"
                        instrument_type: OPTION
                        market_value: "2700.00"
                        position_type: LONG
                        quantity: "10"
                        symbol: AAPL250117C00190000
                        underlying_instrument_id: a1a2a3a4-b1b2-c1c2-d1d2-d3d4d5d6d7d8
                        unrealized_pnl: "200.00"
                    error: null
                    metadata:
                      next_page_token: cGFnZT0yJmxhc3Rfc3ltYm9sPVRTM0E=
                      page_number: 1
                      request_id: 3f4a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c
                      total_items: 25
                      total_pages: 3
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
    delete:
      tags:
        - Positions
      summary: Close Positions
      description: |-
        Delete all positions within an account.

        Closes all positions for the specified trading account.
      operationId: close_positions
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: "null"
                - $ref: "#/components/schemas/ClosePositionRequest"
      responses:
        "200":
          description: List of orders generated to close all positions.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/OrderList"
                type: object
              examples:
                FlattenAccount:
                  summary: A list containing orders statuses for the orders used to close all positions in the account.
                  value:
                    data:
                      - account_id: 19816
                        average_fill_price: null
                        client_order_id: close-positions-20251003-001
                        created_at: 2025-10-03T14:01:15.000000000Z
                        filled_quantity: "0"
                        id: 019c0b57-0850-7b0b-8a2c-5ee3fb5a5876
                        instrument_id: c3c4c5c6-d3d4-e3e4-f3f4-f5f6f7f8f9fa
                        instrument_type: COMMON_STOCK
                        leaves_quantity: "25"
                        limit_price: null
                        order_type: MARKET
                        quantity: "25"
                        side: SELL
                        status: PENDING_NEW
                        stop_price: null
                        symbol: GOOG
                        time_in_force: DAY
                        updated_at: 2025-10-03T14:01:15.000000000Z
                        venue: XNMS
                    error: null
                    metadata:
                      request_id: 3f4a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                MalformedPayload:
                  summary: Malformed JSON in request body
                  value:
                    error:
                      code: 400
                      message: "Failed to parse the request body as JSON: expected `:` at line 2 column 19"
                    metadata:
                      request_id: 93a7c482-b246-4e15-9618-bcbe0906b815
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/accounts/{account_id}/positions/instructions:
    get:
      tags:
        - Positions
      summary: Get Position Instructions
      description: |-
        Returns the current lifecycle state of the account's position
        instructions. Optionally filter by a specific contract.

        Note: instructions that fail pre-acceptance validation on `POST` —
        duplicates, `DO_NOT_EXERCISE` / `CONTRARY_EXERCISE` on a non-expiry day,
        insufficient position, or an unresolvable instrument — are rejected
        (with `status = REJECTED` and a `rejection_reason`) without being
        persisted, so they surface only in the `POST` response and never appear
        in this list.
      operationId: get_position_instructions
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: instrument_id
          in: query
          description: Limit results to a single contract. Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
          required: false
          schema:
            $ref: "#/components/schemas/InstrumentIdOrSymbol"
      responses:
        "200":
          description: Position instructions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionInstructionList"
                type: object
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Account or instrument not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "503":
          description: Service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
    post:
      tags:
        - Positions
      summary: Submit Position Instructions
      description: |-
        Submit one or more position instructions (Exercise, Do-Not-Exercise,
        Contrary Exercise Advice) against the account.

        Batch semantics:
        - **All rows accepted** → `200 OK`. Every row is in `data` with
          `status = SENT`.
        - **Partial success** → `207 Multi-Status`. `data` contains every
          row; rejected rows carry `status = REJECTED` and
          `rejection_reason`. The top-level `error` summarizes the batch
          failure.
        - **All rows rejected** → `4xx`/`5xx`. The HTTP status reflects
          the aggregate cause: `409` when every row was a duplicate, `400`
          for validation failures like DNE/CEA on a non-expiry day, `503`
          if the clearing service is unavailable. `data` still contains
          every row carrying `status = REJECTED` and `rejection_reason`
          so callers can attribute failures by `instruction_id`; the
          top-level `error` summarizes the batch.
      operationId: submit_position_instructions
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PositionInstructionSubmissionRequest"
        required: true
      responses:
        "200":
          description: All instructions accepted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionInstructionList"
                type: object
              examples:
                AllAccepted:
                  summary: Every row accepted — each carries status=SENT
                  value:
                    data:
                      - account_id: 122503
                        id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e02
                        instruction_id: ui-20260424-001
                        instruction_type: EXERCISE
                        instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                        quantity: "1"
                        status: SENT
                        symbol: AAPL  280121C00195000
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd01
        "207":
          description: Partial success — some rows accepted, others rejected
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionInstructionList"
                type: object
              examples:
                PartialDuplicate:
                  summary: One row accepted, one rejected as duplicate
                  value:
                    data:
                      - account_id: 122503
                        id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e02
                        instruction_id: ui-20260424-001
                        instruction_type: EXERCISE
                        instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                        quantity: "1"
                        status: SENT
                        symbol: AAPL  280121C00195000
                      - account_id: 122503
                        id: 00000000-0000-0000-0000-000000000000
                        instruction_id: ui-20260424-001
                        instruction_type: EXERCISE
                        instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                        quantity: "1"
                        rejection_reason: Duplicate exercise instruction
                        status: REJECTED
                        symbol: AAPL  280121C00195000
                    error:
                      code: 409
                      message: Duplicate exercise instruction
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd02
        "400":
          description: Invalid request or all rows rejected by validation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionInstructionList"
                type: object
              examples:
                DneOutsideExpiry:
                  summary: All rows rejected — DNE submitted outside the expiration date
                  value:
                    data:
                      - account_id: 122503
                        id: 00000000-0000-0000-0000-000000000000
                        instruction_id: ui-20260424-001
                        instruction_type: DO_NOT_EXERCISE
                        instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                        quantity: "1"
                        rejection_reason: DO_NOT_EXERCISE must be submitted on the contract's expiration date
                        status: REJECTED
                        symbol: AAPL  280121C00195000
                    error:
                      code: 400
                      message: DO_NOT_EXERCISE must be submitted on the contract's expiration date
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd03
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Account or instrument not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: All rows rejected as duplicates
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionInstructionList"
                type: object
              examples:
                AllDuplicates:
                  summary: Every submitted instruction_id was already accepted earlier
                  value:
                    data:
                      - account_id: 122503
                        id: 00000000-0000-0000-0000-000000000000
                        instruction_id: ui-20260424-001
                        instruction_type: EXERCISE
                        instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                        quantity: "1"
                        rejection_reason: Duplicate exercise instruction; existing_id=019e7415-de03-70c3-8ca1-9fdb72dfdbbc
                        status: REJECTED
                        symbol: AAPL  280121C00195000
                    error:
                      code: 409
                      message: Duplicate exercise instruction
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd04
        "500":
          description: All rows rejected by an internal server fault
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionInstructionList"
                type: object
              examples:
                AllInternalFault:
                  summary: Every row failed because of an internal server fault
                  value:
                    data:
                      - account_id: 122503
                        id: 00000000-0000-0000-0000-000000000000
                        instruction_id: ui-20260424-001
                        instruction_type: EXERCISE
                        instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                        quantity: "1"
                        rejection_reason: Could not process the instruction
                        status: REJECTED
                        symbol: AAPL  280121C00195000
                    error:
                      code: 500
                      message: Could not process the instruction
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd05
        "503":
          description: All rows rejected because the clearing service was unavailable
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionInstructionList"
                type: object
              examples:
                AllUnavailable:
                  summary: Every row failed because the clearing service was unavailable
                  value:
                    data:
                      - account_id: 122503
                        id: 00000000-0000-0000-0000-000000000000
                        instruction_id: ui-20260424-001
                        instruction_type: EXERCISE
                        instrument_id: 0195f6d0-a1b2-7c3d-8e4f-5a6b7c8d9e01
                        quantity: "1"
                        rejection_reason: Clearing service unavailable
                        status: REJECTED
                        symbol: AAPL  280121C00195000
                    error:
                      code: 503
                      message: Clearing service unavailable
                    metadata:
                      request_id: 0a5c9ebf-a9a7-4f2d-9c7e-f2b5f0b1bd06
  /v1/accounts/{account_id}/positions/instructions/{instruction_id}:
    delete:
      tags:
        - Positions
      summary: Cancel Position Instruction
      description: |-
        Cancel an outstanding position instruction by its server-assigned `id`.
        Returns the updated instruction with status `CANCEL_REQUESTED`. The
        terminal `CANCELLED` or `CANCEL_FAILED` state arrives asynchronously and
        is observable via subsequent GETs.
      operationId: cancel_position_instruction
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: instruction_id
          in: path
          description: Server-assigned instruction id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Cancel accepted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionInstruction"
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Instruction not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: Instruction is in a terminal state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "503":
          description: Service temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/accounts/{account_id}/positions/{instrument_id}:
    delete:
      tags:
        - Positions
      summary: Close Position
      description: |-
        Delete a position within an account for an instrument.

        Retrieves orders generated to close the position.
      operationId: close_position
      parameters:
        - name: account_id
          in: path
          description: Account identifier
          required: true
          schema:
            $ref: "#/components/schemas/i64"
        - name: instrument_id
          in: path
          description: Instrument ID (UUID) or symbol (equity ticker or OSI option symbol).
          required: true
          schema:
            $ref: "#/components/schemas/InstrumentIdOrSymbol"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: "null"
                - $ref: "#/components/schemas/ClosePositionRequest"
      responses:
        "200":
          description: List of orders generated to close the position.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/OrderList"
                type: object
              examples:
                LongAndShortPositions:
                  summary: A list containing orders statuses for the orders used to close the position of the specified instrument.
                  value:
                    data:
                      - account_id: 19816
                        average_fill_price: null
                        client_order_id: close-position-20251003-001
                        created_at: 2025-10-03T14:01:15.000000000Z
                        filled_quantity: "0"
                        id: 019c0b56-2119-7482-a80f-5a2a316524d9
                        instrument_id: c3c4c5c6-d3d4-e3e4-f3f4-f5f6f7f8f9fa
                        instrument_type: COMMON_STOCK
                        leaves_quantity: "25"
                        limit_price: null
                        order_type: MARKET
                        quantity: "25"
                        side: SELL
                        status: PENDING_NEW
                        stop_price: null
                        symbol: GOOG
                        time_in_force: DAY
                        updated_at: 2025-10-03T14:01:15.000000000Z
                        venue: XNMS
                    error: null
                    metadata:
                      request_id: 3f4a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                MalformedPayload:
                  summary: Malformed JSON in request body
                  value:
                    error:
                      code: 400
                      message: "Failed to parse the request body as JSON: expected `:` at line 2 column 19"
                    metadata:
                      request_id: 93a7c482-b246-4e15-9618-bcbe0906b815
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
              examples:
                Forbidden:
                  summary: Caller does not have permission
                  value:
                    error:
                      code: 403
                      message: The caller does not have permission to execute the specified operation
                    metadata:
                      request_id: 5518f0c6-58ff-4b4a-81a5-701556d41206
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /v1/calendars/market-hours:
    get:
      tags:
        - Calendar
      summary: Get Market Hours Calendar.
      description: |-
        Retrieves comprehensive trading hours including pre-market, regular, and after-hours sessions.
        Returns market status, session times, and next session schedules.
      operationId: get_market_hours_calendar
      parameters:
        - name: date
          in: query
          description: The date to query market hours for (YYYY-MM-DD). Defaults to today.
          required: false
          schema:
            type: string
          example: 2025-10-15
        - name: market
          in: query
          description: Market type to query (us_equities, us_options). If omitted, returns all markets.
          required: false
          schema:
            type: string
            description: Market type for market hours calendar endpoint
            enum:
              - us_equities
              - us_options
          example: us_equities
      responses:
        "200":
          description: Market hours calendar
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/MarketHoursDetailList"
                type: object
              examples:
                EarlyClose:
                  summary: Market hours for an early close day (day after Thanksgiving)
                  value:
                    data:
                      - current_time: 2025-11-28T11:00:00-05:00
                        date: 2025-11-28
                        market: us_equities
                        market_name: US Equities
                        next_sessions:
                          after_hours:
                            close: 2025-12-01T20:00:00-05:00
                            open: 2025-12-01T16:00:00-05:00
                          pre_market:
                            close: 2025-12-01T09:30:00-05:00
                            open: 2025-12-01T04:00:00-05:00
                          regular:
                            close: 2025-12-01T16:00:00-05:00
                            open: 2025-12-01T09:30:00-05:00
                        status:
                          current_session: regular
                          day_type: EARLY_CLOSE
                          is_open: true
                        timezone: America/New_York
                        today_sessions:
                          pre_market:
                            close: 2025-11-28T09:30:00-05:00
                            open: 2025-11-28T04:00:00-05:00
                          regular:
                            close: 2025-11-28T13:00:00-05:00
                            open: 2025-11-28T09:30:00-05:00
                            time_until_close: PT2H
                    error: null
                    metadata:
                      request_id: 3d4e5f6a-7b8c-9d0e-1f2a-3b4c5d6e7f8a
                Holiday:
                  summary: Market hours for a holiday (Christmas)
                  value:
                    data:
                      - current_time: 2025-12-25T10:00:00-05:00
                        date: 2025-12-25
                        market: us_equities
                        market_name: US Equities
                        next_sessions:
                          after_hours:
                            close: 2025-12-26T20:00:00-05:00
                            open: 2025-12-26T16:00:00-05:00
                          pre_market:
                            close: 2025-12-26T09:30:00-05:00
                            open: 2025-12-26T04:00:00-05:00
                          regular:
                            close: 2025-12-26T16:00:00-05:00
                            open: 2025-12-26T09:30:00-05:00
                        status:
                          day_type: HOLIDAY
                          is_open: false
                        timezone: America/New_York
                        today_sessions: {}
                    error: null
                    metadata:
                      request_id: 2c3d4e5f-6a7b-8c9d-0e1f-2a3b4c5d6e7f
                RegularTradingDay:
                  summary: Market hours for a regular trading day
                  value:
                    data:
                      - current_time: 2025-10-15T14:30:45-04:00
                        date: 2025-10-15
                        market: us_equities
                        market_name: US Equities
                        next_sessions:
                          after_hours:
                            close: 2025-10-16T20:00:00-04:00
                            open: 2025-10-16T16:00:00-04:00
                          pre_market:
                            close: 2025-10-16T09:30:00-04:00
                            open: 2025-10-16T04:00:00-04:00
                          regular:
                            close: 2025-10-16T16:00:00-04:00
                            open: 2025-10-16T09:30:00-04:00
                        status:
                          current_session: regular
                          day_type: TRADING_DAY
                          is_open: true
                        timezone: America/New_York
                        today_sessions:
                          after_hours:
                            close: 2025-10-15T20:00:00-04:00
                            open: 2025-10-15T16:00:00-04:00
                            time_until_open: PT1H29M15S
                          pre_market:
                            close: 2025-10-15T09:30:00-04:00
                            open: 2025-10-15T04:00:00-04:00
                          regular:
                            close: 2025-10-15T16:00:00-04:00
                            open: 2025-10-15T09:30:00-04:00
                            time_until_close: PT1H29M15S
                    error: null
                    metadata:
                      request_id: 1b2c3d4e-5f6a-7b8c-9d0e-1f2a3b4c5d6e
                Weekend:
                  summary: Market hours for a weekend day
                  value:
                    data:
                      - current_time: 2025-10-18T12:00:00-04:00
                        date: 2025-10-18
                        market: us_equities
                        market_name: US Equities
                        next_sessions:
                          after_hours:
                            close: 2025-10-20T20:00:00-04:00
                            open: 2025-10-20T16:00:00-04:00
                          pre_market:
                            close: 2025-10-20T09:30:00-04:00
                            open: 2025-10-20T04:00:00-04:00
                          regular:
                            close: 2025-10-20T16:00:00-04:00
                            open: 2025-10-20T09:30:00-04:00
                        status:
                          day_type: WEEKEND
                          is_open: false
                        timezone: America/New_York
                        today_sessions: {}
                    error: null
                    metadata:
                      request_id: 4e5f6a7b-8c9d-0e1f-2a3b-4c5d6e7f8a9b
  /v1/clock:
    get:
      tags:
        - Calendar
      summary: Get Clock
      description: Returns the current server time in UTC.
      operationId: get_clock
      responses:
        "200":
          description: Current server time
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    required:
                      - data
                    properties:
                      data:
                        $ref: "#/components/schemas/ClockDetail"
                type: object
              examples:
[...]
